<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-styles/typography.html">

<dom-module id="personal-details">
  <template>
    <style include="shared-styles">
      :host {
        display: table;
        margin: 0 auto !important;
        width: 100%
      }
      span,
      input {
        @apply(--paper-font-body2);
      }

      .input-control{
        padding: 0px;
        margin: 0px;
      }

    </style>

    <div >
      <span style="padding-top: 150px"></span>


        <h3 class="center" >And a few final details.</h3>
        <span style="padding-top: 150px"></span>

        <div class="center">


          <div style="display: -moz-box;">
            <iron-image class="mini-logo" sizing="contain"  src="/images/birthdate.png"></iron-image>
            <paper-input class="input-control" label="Birth Date (DD)"></paper-input>
            <paper-input class="input-control" label="(MM)"></paper-input>
            <paper-input class="input-control" label="(YY)"></paper-input>
         </div>
         <span style="padding-top: 0px; display:block;"></span>

         <div style="display: -moz-box;">
           <iron-image class="mini-logo" sizing="contain"  src="/images/cc.png"></iron-image>
           <paper-input class="input-control" label="PAN Number"></paper-input>
         </div>
         <span style="padding-top: 0px; display:block;"></span>

         <div style="display: -moz-box; margin-top: -10px;">
           <iron-image class="mini-logo" sizing="contain"  src="/images/location.png"></iron-image>
           <div style="display:block">
             <paper-input class="input-control" label="Address"></paper-input>
             <paper-input class="input-control" label="Street"></paper-input>
             <div style="display: -moz-box;">
               <paper-input class="input-control" label="City"></paper-input>
               <paper-input class="input-control" label="State"></paper-input>
             </div>
             <paper-input class="input-control" label="Pin code"></paper-input>

           </div>
         </div>


         <span style="padding-top: 5px; display:block;"></span>

         <div style="display: -moz-box;">
           <iron-image class="mini-logo" sizing="contain"  src="/images/phone.png"></iron-image>
           <paper-button raised class="indigo"> Verify Now</paper-input>

         </div>
         <span style="padding-top: 5px; display:block;"></span>

         <div style="display: -moz-box;">
           <iron-image class="mini-logo" sizing="contain"  src="/images/email.png"></iron-image>
           <paper-button raised class="indigo"> Verify Now</paper-input>
         </div>
         <span style="padding-top: 5px; display:block;"></span>


        </div>
       <span class="center">
         <paper-button style="margin-top: 20px" class="indigo" raised on-click="next"> Next </paper-button>
       </span>

        <span style="padding-top: 150px"></span>


    </div>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'personal-details',
        next: function (event) {
          page('/general-agreement');
        },
        properties: {
          greeting: {
            type: String,
            value: 'Welcome!',
            notify: true
          },
          maxAllowedAmount: {
            type: Number,
            value: 500000,
            notify: true
          },
          minAllowedAmount: {
            type: Number,
            value: 50000,
            notify: true
          },
          options: {
            type: Array,
            value: [{
              title: 'TRAVEL',
              image: '/images/plan.png'
            },{
              title: 'VEHICAL PURCHASE',
              image: '/images/car.png'
            },{
              title: 'MEDICAL',
              image: '/images/medical.png'
            },{
              title: 'LOAN REFINANCING',
              image: '/images/documents.png'
            },{
              title: 'EDUCATION',
              image: '/images/education.png'
            },{
              title: 'HOME IMPORVEMENT',
              image: '/images/house.png'
            }
          ],
            notify: true
          }
        }
      });
    })();
  </script>
</dom-module>
