<html-import html-href="inbox/inbox-body.html"></html-import>
<html-import html-href="inbox/inbox-header.html"></html-import>
<dom-module is="inbox-view">
    <template>
        <div class="wrapper wrapper-content">
            <inbox-header
                message-list="{{messages}}"
                selected-tags="{{selectedTags}}"
                available-tags="{{tags}}"
                page-select="{{pages}}"
                search-term="{{searchTerm}}"
                selected-items="{{selectedMessages}}"
                displayed-messages="{{displayedMessages}}"
                filtered-length="{{filteredLength}}"
                page-length="{{pageLength}}"
            >
            </inbox-header>
            <inbox-body
                selected-tags="{{selectedTags}}"
                search-term="{{searchTerm}}"
                selected-items="{{selectedMessages}}"
                displayed-messages="{{displayedMessages}}"
            >
            </inbox-body>
        </div>

        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "inbox-view",
            attached: function() {
                var self = this;

                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;

                return function(){
                    self.pageLength = 10;

                    self.messages = [];
                    self.pages = 0;
                    self.tags = [];
                    self.selectedTags = {};
                    self.searchTerm = "";
                    self.selectedMessages = [];
                    self.displayedMessages = [];

                    //Microtimer because inbox body will parse table before table can be generated
                    self.async(function() {
                        self.$.http.get('/', window.config.services.inbox, function(data) {
                            self.set('messages', data);
                            // TODO: Optimize
                            for (var i = 0; i < self.messages.length; i++) {
                                var message = self.messages[i];
                                for (var j = 0; j < message.tags.length; j++) {
                                    var tag = message.tags[j];
                                    if (self.tags.indexOf(tag) === -1) {
                                        self.push('tags', tag);
                                    }
                                }
                            }
                        },
                        function(error) {
                            console.log(error);
                        })
                    }, 1)
                }
            },
            observers: [
                'parseMessages(messages.*, searchTerm, selectedTags.*, pages)',
                'generateTagList(messages.*)'
            ],
            generateTagList: function(changes) {
                if (changes.path.slice(-4) === "tags") {
                    for (var i = 0; i < changes.value.length; i++) {
                        var tag = changes.value[i];
                        if (this.tags.indexOf(tag) === -1) {
                            this.push('tags', tag);
                        }
                    }
                }
            },
            parseMessages: function(messages, search, filters, pages) {
                // TODO: Find a way to not require a refresh
                // Refresh Display
                this.set('displayedMessages', []);
                // Render Display after refresh
                this.async(function(){
                    var filteredByTags = this.messages.filter(function(message) {
                        if (Object.keys(this.selectedTags).length === 0) { return true };
                        for (var tag in this.selectedTags) {
                            return message.tags.indexOf(tag) !== -1;
                        }
                    }.bind(this));
                    var filteredBySearch = filteredByTags.filter(function(message) {
                        if (this.searchTerm === "") { return true }
                        var tempStr = "";
                        for (var prop in message) {
                            tempStr += message[prop];
                        }
                        return tempStr.toLowerCase().indexOf(this.searchTerm.toLowerCase()) !== -1;
                    }.bind(this));
                    this.set('filteredLength', filteredBySearch.length);
                    var display = filteredBySearch.slice(this.pages * this.pageLength, (this.pages * this.pageLength) + this.pageLength)
                    this.set('displayedMessages', display);
                    this.set("selectedMessages", []);
                }.bind(this), 1)
            }
        })
    </script>
</dom-module>
