<!--
ibox
Use a title attribute when a plain text title is sufficient
Requires an <ibox-title></ibox-title child if title attribute is not set.
Place content in an <ibox-content></ibox-content> child
-->
<dom-module id="ibox-plain">
    <template>
        <div class="ibox float-e-margins">
            <template is="dom-if" if="{{ titleBar }}">
                <div class="ibox-title">
                    <h5>{{ titleBar }}</h5>
                </div>
            </template>
            <content>
            </content>
        </div>
    </template>
    <script>
        Polymer(
        {
            is: "ibox-plain",
            properties: {
                titleBar: String
            },
        })
    </script>
</dom-module>


<!--ibox-title - This is an optional title bar for iboxes-->
<dom-module id="ibox-title">
    <template>
        <div class="ibox-title">
            <content></content>
        </div>
    </template>
    <script>
        Polymer(
        {
            is: "ibox-title",
        })
    </script>
</dom-module>


<!--ibox-content - boolean attribute toggles padding-->
<dom-module id="ibox-content">
    <template>
        <style>
            .ibox-content {
                background-color: var(--ibox-content-background-color);
            }

            :host::content {
                color: var(--ibox-content-color);
            }
        </style>
        <div class$="{{ getClass(noPadding) }}">
            <content></content>
        </div>
    </template>
    <script>
        Polymer(
        {
            is: "ibox-content",
            properties:
            {
                noPadding:
                {
                    type: Boolean,
                    value: false,
                    reflectToAttributes: true
                }
            },
            getClass: function(noPadding)
            {
                var BASE_CLASS = "ibox-content";
                var NO_PADDING = " no-padding"

                return noPadding ? [BASE_CLASS, NO_PADDING].join(" ") : BASE_CLASS;
            }
        })
    </script>
</dom-module>
