<dom-module id="lusa-button-default">
    <template>
        <button class="btn btn-default">
            <content></content>
        </button>
        <style>
            .btn-default {
                background-color: #03426b;
                border-color: #03426b;
            }

            .btn-default:hover {
                background-color: #38596e;
                border-color: #38596e;
            }
        </style>
    </template>
    <script>
        Polymer(
        {
            is: "lusa-button-default",

        })
    </script>
</dom-module>
