<dom-module id="spinkit-cube">
    <style>
        .sk-spinner .sk-cube {
            background-color: #88BF40;
        }
        .sk-spinner {
            margin: 10px 0;
            left: 50%;
            transform: translateX(-50%);
            position: relative;
        }
    </style>
    <template>
        <div class="sk-spinner sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </template>
    <script>
        Polymer({
            is: "spinkit-cube"
        });
    </script>
</dom-module>