<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-styles/typography.html">

<dom-module id="general-agreement">
  <template>
    <style include="shared-styles">
      :host {
        display: table;
        margin: 0 auto !important;
        width: 100%
      }
      span,
      input {
        @apply(--paper-font-body2);
      }


    </style>

    <div >
      <span style="padding-top: 150px"></span>


        <h4 class="center" > more-expenses?</h4>
        <span style="padding-top: 150px"></span>

        <div class="center">
<p>
  In this page all the Information collected from the borrower in previous slides like Loan Amount, Loan Purpose , Mobile Number, Title. Name , Email ID, income, expenses should displayed in one page for Borrower to verify the details entered and Edit if Required
</p>

<p>
  We have to put a note in this page stating to edit if any error in filling the details before they submit as once submitted they will not be able to edit these details again. Mobile OTP verification if completed by the borrower before we should not let him edit his mobile number if he has not completed verification we should prompt the borrower for completion and setting his passowrd.
</p>

<pre>
  a. “I understand that Creditexchange would be pulling my Credit Report from Bureau to process your loan”
  b. “I understand that I would be required to connect my bank account for Creditexchange to process my loan application”
  c. “I understand that I would be required to verify my employer”
  d. “I confirm that I have a valid PAN and Aadhaar for Bureau Pull and eKYC”
  e. Location verification statement for consent
</pre>

        </div>
       <span class="center">
         <paper-button style="margin-top: 20px" class="indigo" raised on-click="next"> I Agree </paper-button>
       </span>

        <span style="padding-top: 150px"></span>


    </div>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'general-agreement',
        next: function (event) {
          page('/amount-offered');
        },
        properties: {
          greeting: {
            type: String,
            value: 'Welcome!',
            notify: true
          },
          maxAllowedAmount: {
            type: Number,
            value: 500000,
            notify: true
          },
          minAllowedAmount: {
            type: Number,
            value: 50000,
            notify: true
          },
          options: {
            type: Array,
            value: [{
              title: 'TRAVEL',
              image: '/images/plan.png'
            },{
              title: 'VEHICAL PURCHASE',
              image: '/images/car.png'
            },{
              title: 'MEDICAL',
              image: '/images/medical.png'
            },{
              title: 'LOAN REFINANCING',
              image: '/images/documents.png'
            },{
              title: 'EDUCATION',
              image: '/images/education.png'
            },{
              title: 'HOME IMPORVEMENT',
              image: '/images/house.png'
            }
          ],
            notify: true
          }
        }
      });
    })();
  </script>
</dom-module>
