<html-import html-href="ui-elements/drop-zone.html"></html-import>
<html-import html-href="ui-elements/dropdown-list.html"></html-import>
<html-import html-href="ui-elements/dropdown-element.html"></html-import>
<html-import html-href="ui-elements/inputs/tag-input.html"></html-import>
<html-import html-href="ui-elements/forms/activity-form.html"></html-import>
<html-import html-href="ui-elements/selectable-table.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<dom-module id="document-manager">
    <style>
        .header {
            margin-bottom: 40px;
        }
        .header > div {
            display: inline-block;
        }
        .header .input-group {
            width: 1px;
        }
        #document-drop .wrapper {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        #docu-search {
            width: 320px;
        }
    </style>
	<template>
        <style>
        .dz-image {
            margin: 0 auto;
        }
        </style>
        <drop-zone id="document-drop" submit-target="/target" file-reference="{{fileReference}}">
            <div class="wrapper project-list main">
                <div class="header">
                    <div class="tag-header">
                        <span class="btn btn-xs btn-default tag" on-click="clearTags">Clear Tags</span>
                        <template is="dom-repeat" items="{{availableTags}}" as="tag">
                            <span class="btn btn-xs btn-default tag" on-click="toggleTag" value="{{tag}}">{{tag}}</span>
                        </template>
                    </div>
                    <div class="pull-right">
                        <div class="input-group">
                            <input id="docu-search" class="form-control" value="{{searchTerm::input}}" placeholder="Search Documents"></input>
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <selectable-table id="select-table" table-items="{{filteredLoanDocs}}"
                selected-row-index="{{fileRefIndex}}" selected-row="{{fileReference}}">
                    <dropdown-element on-click="downloadFile">Download File</dropdown-element>
                </selectable-table>
            </div>
        </drop-zone>
        
        <custom-modal id="newDocumentModal" class="modal-drop" on-modal-hidden="resetModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Add Tags</h4>
                        </div>
                        <div class="modal-body">
                            <activity-form id="modal-form">
                                <tag-input id="tag-input" input-value="{{modalInput}}"></tag-input>
                            </activity-form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" on-click="submitModalForm">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <event-hub id="hub">
            <event-subscription event="document:upload" on-handle="uploadFile"></event-subscription>
        </event-hub>
        <alloy-format id="format"></alloy-format>
	</template>
	<script>
		Polymer({
        is : "document-manager",
        attached : function() {
          var self = this;
              
          if (window.jQuery) {
              self.init()();
          } else {
              window.addEventListener("WebComponentsReady", self.init());
          }
        },
        init: function() {
            var self = this;
            
            // Document Manager Variables
            self.availableTags = ["Compliance", "Stipulations", "Agreements"];
            self.selectedTags = {};
            self.searchTerm = "";
            self.filteredLoanDocs = [];
            self.loanDocuments = [
                {
                    documentName: "TILA Agreement",
                    tags: ["Agreements"],
                    ref: "/document:12301",
                    date: "10/1/15", //self.$.format.formatDate("10/1/15"),
                    format: "pdf"
                },
                {
                    documentName: "Privacy Statement",
                    tags: ["Compliance"],
                    ref: "/document:12301",
                    date: "10/1/15", //self.$.format.formatDate("10/1/15"),
                   
                    format: "pdf"
                },
                {
                    documentName: "Bank Statement",
                    tags: ["Stipulations"],
                    ref: "/document:12301",
                    date: "10/1/15", //self.$.format.formatDate("10/1/15"),
                    format: "pdf"
                },
                {
                    documentName: "Drivers License",
                    tags: ["Stipulations"],
                    ref: "/document:12301",
                    date: "10/1/15", //self.$.format.formatDate("10/1/15"),
                    format: "jpg"
                },
                {
                    documentName: "Credit Agreement",
                    tags: ["Compliance", "Agreements"],
                    ref: "/document:12301",
                    date: "10/1/15", //self.$.format.formatDate("10/1/15"),
                    format: "pdf"
                },
                {
                    documentName: "Credit Report",
                    tags: ["Compliance", "Stipulations"],
                    ref: "/document:12301",
                    date: "10/1/15", //self.$.format.formatDate("10/1/15"),
                    format: "pdf"
                }
            ];
            
            // Shared Variables (Module, DropZone and Document Manager)
            self.fileReference = {};
            self.fileRefIndex;
            self.modalInput;
            self.editing = false;
            
            //Selected Table
            self.headers = {
                format: "",
                documentName: "Document Name",
                tags: "Tags",
                date: "Date"
            }
            // Note that setting properties this way will result in a onetime setting meaning,
            // these properties will not be bound to variables on the actual table component
            self.$["select-table"].selectableTable({
                tableHeaders: self.headers,
                tableStyle: "project-list",
                columnWidth: [5, 30, 30, 30, 5],
                selectRowText: "Change Tags",
            });
            
            return function() {
                self.async(function() {
                    $("selectable-table", self)[0].addEventListener("row-selected", function(e) {
                        self.editing = true;
                    })
                })
            }
        },
        properties: {
            resource: {
                type: String,
                notify: true,
                value: "loan:58291"
            }
        },
        observers : [
            "filterTable(selectedTags.*, searchTerm, loanDocuments.*)",
            "tagSelectedColor(selectedTags.*, searchTerm)",
            "showModal(fileReference.*)"
        ],
        // Generate a filtered array based on search terms and tags selected
        filterTable : function(selectedTags, searchTerm, loanDocuments) {
            this.filteredLoanDocs = [];
            if (this.loanDocuments.length === 0) { return }
            if (Object.keys(this.selectedTags).length === 0 && searchTerm.length === 0) {
                return this.filteredLoanDocs = this.loanDocuments;

            }
            for (var i = 0; i < this.loanDocuments.length; i++) {
                var document = this.loanDocuments[i];
                if (this._filterTag(document) && this._searchFilterObject(document)) {
                    this.push("filteredLoanDocs", document);
                }
            }
        },
        // Set tag colors based on tags selected
        tagSelectedColor : function(selectedTags) {
            var self = this;
            
            self.async(function() {
                $("tbody tr td:nth-of-type(3) span,.tag-header span.tag", self).each(function() {
                    if (self.selectedTags[$(this).text()]) {
                        $(this).addClass("btn-primary").removeClass("btn-default");
                    } else {
                        $(this).addClass("btn-default").removeClass("btn-primary");
                    }
                })
            }, 1)
        },
        // Returns a boolean value that checks document tags against selected tags
        _filterTag : function(docItem) {
            var tags = docItem.tags;
            if (Object.keys(this.selectedTags).length === 0 && !this.searchTerm) { return true }
            for (var selectedTag in this.selectedTags) {
                if (tags.indexOf(selectedTag) === -1 && this.selectedTags[selectedTag]) {
                    return false;
                }
            }
            return true;
        },
        // Returns a boolean value that checks content against search terms
        _searchFilterObject : function(docItem) {
            for (var property in docItem) {
                if (property === "ref") { continue }; 
                if (String(docItem[property]).toLowerCase().indexOf(this.searchTerm.toLowerCase()) !== -1) {
                    return true;
                }
            }
            this.tagSelectedColor(this.selectedTags);
            return false;
        },
        // Sets selected tags to truthy value in selected tags object
        toggleTag : function(e) {
            if (!this.selectedTags[e.target.value]) {
                this.set("selectedTags." + e.target.value, true);
            } else {
                this.set("selectedTags." + e.target.value, false);
            }
        },
        clearTags : function() {
            this.set("selectedTags", {});
        },
        // Below control modal and modal form
        showModal : function() {
            if (this.validateFileReference(this.fileReference)) {
                var tags = this.fileReference.data !== undefined ?
                  this.fileReference.data.tags : this.fileReference.tags;
                this.$["tag-input"].populateTags(tags);
                this.$.newDocumentModal.showModal();
            }
        },
        validateFileReference : function(file) {
            return file === null ? false : typeof file === "object"
              ? Object.keys(file).length !== 0 : false;
        },
        resetModal : function() {
            // Reset fileReference
            this.fileReference = null;
            this.$["modal-form"].clearFields();
            this.editing === true && (this.editing = false);
            this.$["select-table"].refreshTable();
        },
        submitModalForm : function() {
            this.selectedTags = {};
            if (!this.editing) {
                this.$["document-drop"].fire("edit-file", {
                    fileIndex: this.fileReference.index,
                    tags: this.modalInput.split(",")
                });
            } else {
                var addedTags = this.modalInput.split(",");
                this.set("filteredLoanDocs." + this.fileRefIndex + ".tags", addedTags);
                for (var i = 0; i < addedTags.length; i++) {
                    if (this.availableTags.indexOf(addedTags[i]) === -1) {
                        this.push("availableTags", addedTags[i]);
                    }
                }
            }
        },
        
        downloadFile : function(e) {
          //GET Request
          console.log(this.filteredLoanDocs[e.detail.rowIndex].ref)
        },
        uploadFile: function(e, data) {
            this.push("loanDocuments", data);
        }
    })

	</script>
</dom-module>