<dom-module id="approve-application">
    <template>
        <div>
            TBD
        </div>
    </template>
    <script>
        Polymer({
            is: "approve-application",

            ready:function(){
            },

            attached: function () {
                var self = this;
            }
        });
    </script>
</dom-module>