<dom-module id="application-list">
  <template>
    <style include="shared-styles">
      :host {
        display: table;
        margin: 0 auto !important;
      }
      span,
      input {
        @apply(--paper-font-body2);
      }
    </style>


  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'application-list'
      });
    })();
  </script>
</dom-module>
