<dom-module id="lf-alert">
    <template>
        <div class$="{{ computeClass(alertCfg.type) }}">
            <button 
                class="close" 
                hidden$="{{ alertCfg.isDismissible }}"
                on-tap="handleTap">×</button>

            <content>{{ alertContent }}</content>
        </div>
    </template>
    <script>
        Polymer({
            is: "lf-alert",

            properties: {
                alertCfg: {
                    type: Object
                },
                shouldHide: true
            },

            handleTap: function() {
                this.clickHandler();
            },

            computeClass: function(alertType) {
                var baseClass = "alert";
                var computedClass;

                return computedClass = baseClass + " " + "alert-" + alertType;
            },
        })
    </script>
</dom-module>