<dom-module id="activity-block">
  <template>
    <style include="shared-styles">
      :host {
       }
      span,
      input {
        @apply(--paper-font-body2);
      }

      <div class="panel content-table clearfix">
        <!--documents list-->
          <table id="example" class="table documents">
            <thead>
            <tr>
                <th>Document Name</th>
                <th>Tags</th>
                <th>Date</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>LUSA-Application-bankaccount.png</td>
                <td class="tag"><span>INFO</span> <span>BANK DOCUMENT</span> <span>DOCUMENT</span></td>
                <td>Aug 21 2016, 4:21 pm</td>
                <td class="text-center">
                  <div class="btn-group">
                    <a class="btn btn-danger btn-sm" href="" data-toggle="dropdown" title="Options">-</a>
                    <ul class="dropdown-menu">
                      <li><a href="" title="Replace">Replace</a></li>
                      <li><a href="" title="Download">Download</a></li>
                      <li><a href="" title="Change Tag">Change Tag</a></li>
                      <li><a class="delrow" href="" title="Delete">Delete</a></li>
                    </ul>
                  </div>
             </td>
            </tr>
            <tr>
                <td>LUSA-Application-offers.png</td>
                <td class="tag"><span>ACCOUNT OFFERS</span> <span>LOAN OFFERS</span> <span>BANK OFFERS</span></td>
                <td>May 27 2016, 5:25 am</td>
                <td class="text-center">
                  <div class="btn-group">
                    <a class="btn btn-danger btn-sm" href="" data-toggle="dropdown" title="Options">-</a>
                    <ul class="dropdown-menu">
                      <li><a href="" title="Replace">Replace</a></li>
                      <li><a href="" title="Download">Download</a></li>
                      <li><a href="" title="Change Tag">Change Tag</a></li>
                      <li><a class="delrow" href="" title="Delete">Delete</a></li>
                    </ul>
                  </div>
             </td>
            </tr>
            <tr>
                <td>LUSA-Application-loan.png</td>
                <td class="tag"><span>LOAN</span> <span>LOAN INTEREST</span> <span>LOAN TERMS</span></td>
                <td>Sep 12 2016, 10:10am pm</td>
                <td class="text-center">
                  <div class="btn-group">
                    <a class="btn btn-danger btn-sm" href="" data-toggle="dropdown" title="Options">-</a>
                    <ul class="dropdown-menu">
                      <li><a href="" title="Replace">Replace</a></li>
                      <li><a href="" title="Download">Download</a></li>
                      <li><a href="" title="Change Tag">Change Tag</a></li>
                      <li><a class="delrow" href="" title="Delete">Delete</a></li>
                    </ul>
                  </div>
             </td>
            </tr>
                  <tr>
                <td>LUSA-Application-bankaccount.png</td>
                <td class="tag"><span>INFO</span> <span>BANK DOCUMENT</span> <span>DOCUMENT</span></td>
                <td>Aug 21 2016, 4:21 pm</td>
                <td class="text-center">
                  <div class="btn-group">
                    <a class="btn btn-danger btn-sm" href="" data-toggle="dropdown" title="Options">-</a>
                    <ul class="dropdown-menu">
                      <li><a href="" title="Replace">Replace</a></li>
                      <li><a href="" title="Download">Download</a></li>
                      <li><a href="" title="Change Tag">Change Tag</a></li>
                      <li><a class="delrow" href="" title="Delete">Delete</a></li>
                    </ul>
                  </div>
             </td>
            </tr>
            <tr>
                <td>LUSA-Application-offers.png</td>
                <td class="tag"><span>ACCOUNT OFFERS</span> <span>LOAN OFFERS</span> <span>BANK OFFERS</span></td>
                <td>May 27 2016, 5:25 am</td>
                <td class="text-center">
                  <div class="btn-group">
                    <a class="btn btn-danger btn-sm" href="" data-toggle="dropdown" title="Options">-</a>
                    <ul class="dropdown-menu">
                      <li><a href="" title="Replace">Replace</a></li>
                      <li><a href="" title="Download">Download</a></li>
                      <li><a href="" title="Change Tag">Change Tag</a></li>
                      <li><a class="delrow" href="" title="Delete">Delete</a></li>
                    </ul>
                  </div>
             </td>
            </tr>
            <tr>
                <td>LUSA-Application-loan.png</td>
                <td class="tag"><span>LOAN</span> <span>LOAN INTEREST</span> <span>LOAN TERMS</span></td>
                <td>Sep 12 2016, 10:10am pm</td>
                <td class="text-center">
                  <div class="btn-group">
                    <a class="btn btn-danger btn-sm" href="" data-toggle="dropdown" title="Options">-</a>
                    <ul class="dropdown-menu">
                      <li><a href="" title="Replace">Replace</a></li>
                      <li><a href="" title="Download">Download</a></li>
                      <li><a href="" title="Change Tag">Change Tag</a></li>
                      <li><a class="delrow" href="" title="Delete">Delete</a></li>
                    </ul>
                  </div>
             </td>
            </tr>
                  <tr>
                <td>LUSA-Application-bankaccount.png</td>
                <td class="tag"><span>INFO</span> <span>BANK DOCUMENT</span> <span>DOCUMENT</span></td>
                <td>Aug 21 2016, 4:21 pm</td>
                <td class="text-center">
                  <div class="btn-group">
                    <a class="btn btn-danger btn-sm" href="" data-toggle="dropdown" title="Options">-</a>
                    <ul class="dropdown-menu">
                      <li><a href="" title="Replace">Replace</a></li>
                      <li><a href="" title="Download">Download</a></li>
                      <li><a href="" title="Change Tag">Change Tag</a></li>
                      <li><a class="delrow" href="" title="Delete">Delete</a></li>
                    </ul>
                  </div>
             </td>
            </tr>
            <tr>
                <td>LUSA-Application-offers.png</td>
                <td class="tag"><span>ACCOUNT OFFERS</span> <span>LOAN OFFERS</span> <span>BANK OFFERS</span></td>
                <td>May 27 2016, 5:25 am</td>
                <td class="text-center">
                  <div class="btn-group">
                    <a class="btn btn-danger btn-sm" href="" data-toggle="dropdown" title="Options">-</a>
                    <ul class="dropdown-menu">
                      <li><a href="" title="Replace">Replace</a></li>
                      <li><a href="" title="Download">Download</a></li>
                      <li><a href="" title="Change Tag">Change Tag</a></li>
                      <li><a class="delrow" href="" title="Delete">Delete</a></li>
                    </ul>
                  </div>
             </td>
            </tr>
            <tr>
                <td>LUSA-Application-loan.png</td>
                <td class="tag"><span>LOAN</span> <span>LOAN INTEREST</span> <span>LOAN TERMS</span></td>
                <td>Sep 12 2016, 10:10am pm</td>
                <td class="text-center">
                  <div class="btn-group">
                    <a class="btn btn-danger btn-sm" href="" data-toggle="dropdown" title="Options">-</a>
                    <ul class="dropdown-menu">
                      <li><a href="" title="Replace">Replace</a></li>
                      <li><a href="" title="Download">Download</a></li>
                      <li><a href="" title="Change Tag">Change Tag</a></li>
                      <li><a class="delrow" href="" title="Delete">Delete</a></li>
                    </ul>
                  </div>
             </td>
            </tr>
                  <tr>
                <td>LUSA-Application-bankaccount.png</td>
                <td class="tag"><span>INFO</span> <span>BANK DOCUMENT</span> <span>DOCUMENT</span></td>
                <td>Aug 21 2016, 4:21 pm</td>
                <td class="text-center">
                  <div class="btn-group">
                    <a class="btn btn-danger btn-sm" href="" data-toggle="dropdown" title="Options">-</a>
                    <ul class="dropdown-menu">
                      <li><a href="" title="Replace">Replace</a></li>
                      <li><a href="" title="Download">Download</a></li>
                      <li><a href="" title="Change Tag">Change Tag</a></li>
                      <li><a class="delrow" href="" title="Delete">Delete</a></li>
                    </ul>
                  </div>
             </td>
            </tr>
            <tr>
                <td>LUSA-Application-offers.png</td>
                <td class="tag"><span>ACCOUNT OFFERS</span> <span>LOAN OFFERS</span> <span>BANK OFFERS</span></td>
                <td>May 27 2016, 5:25 am</td>
                <td class="text-center">
                  <div class="btn-group">
                    <a class="btn btn-danger btn-sm" href="" data-toggle="dropdown" title="Options">-</a>
                    <ul class="dropdown-menu">
                      <li><a href="" title="Replace">Replace</a></li>
                      <li><a href="" title="Download">Download</a></li>
                      <li><a href="" title="Change Tag">Change Tag</a></li>
                      <li><a class="delrow" href="" title="Delete">Delete</a></li>
                    </ul>
                  </div>
             </td>
            </tr>
            <tr>
                <td>LUSA-Application-loan.png</td>
                <td class="tag"><span>LOAN</span> <span>LOAN INTEREST</span> <span>LOAN TERMS</span></td>
                <td>Sep 12 2016, 10:10am pm</td>
                <td class="text-center">
                  <div class="btn-group">
                    <a class="btn btn-danger btn-sm" href="" data-toggle="dropdown" title="Options">-</a>
                    <ul class="dropdown-menu">
                      <li><a href="" title="Replace">Replace</a></li>
                      <li><a href="" title="Download">Download</a></li>
                      <li><a href="" title="Change Tag">Change Tag</a></li>
                      <li><a class="delrow" href="" title="Delete">Delete</a></li>
                    </ul>
                  </div>
             </td>
            </tr>
            </tbody>
          </table>
        <!--documents list end-->
      </div>
     </style>

     /*actvity block*/
     .content-table{ padding:30px;}

     .dataTables_length,
     .dataTables_filter {
         padding:15px 0;
     }


     .documents .tag span {
         border-radius: 4px;
         background-color: #4c9f11;
         color: #fff;
         cursor: pointer;
         margin-right: 5px;
         margin-bottom: 5px;
         overflow: hidden;
     	font-size:10px;
         line-height: 10px;
         padding: 5px 10px;
         position: relative;
         vertical-align: middle;
         display: inline-block;
         zoom: 1;
         *display: inline;
         -webkit-transition: 0.14s linear;
         -moz-transition: 0.14s linear;
         -o-transition: 0.14s linear;
         transition: 0.14s linear;
         -webkit-backface-visibility: hidden;
     }
     .documents .btn{font-weight:bold; font-size:20px;padding: 0 10px;border-radius:3px !important;border:0}
     .documents .open > .dropdown-menu{opacity:1;}
     .documents .dropdown-menu{min-width:100px;margin:0;}
     .documents .dropdown-menu > li > a {
         display: block;
         padding: 3px 10px;
         clear: both;
         font-weight: normal;
     	text-align:left;
     	font-size:12px;
     }
     .dropdown-menu > li > a:hover,
     .dropdown-menu > li > a:focus {
         background-color: #ececec;
     }
     </style>

     <script>
     jQuery(document).ready(function() {
     	$('#example').DataTable({
     		"lengthMenu": [[4, 8, 16, -1], [4, 8, 16, "All"]]
     	});
     });

     jQuery(".documents .delrow").click(function () {
     		$(this).parent().parent().parent().parent().parent().fadeOut(400);
     	return false;
     });
     </script>


  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'activity-block'
      });
    })();
  </script>
</dom-module>
