<html-import html-href="ui-elements/inputs/text-input.html"></html-import>
<html-import html-href="ui-elements/inputs/date-input.html"></html-import>
<html-import html-href="ui-elements/inputs/input-label.html"></html-import>
<html-import html-href="ui-elements/inputs/select-input.html"></html-import>
<html-import html-href="ui-elements/forms/form-title.html"></html-import>
<html-import html-href="ui-elements/forms/form-group.html"></html-import>
<html-import html-href="ui-elements/forms/form-error.html"></html-import>
<html-import html-href="ui-elements/button-primary.html"></html-import>
<html-import html-href="ui-elements/promised-value.html"></html-import>
<html-import html-href="ui-elements/inputs/radio-button-group.html"></html-import>
<html-import html-href="services/merchant-service.html"></html-import>
<html-import html-href="services/email-validation-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="services/spinner-service.html"></html-import>
<html-import html-href="radioButtonGroup.html"></html-import>

<dom-module id="save-funding">
    <template>
        <email-validation-service id="emailValidationService"></email-validation-service>
        <merchant-service id="merchantService"></merchant-service>
        <identity-service id="identityService"></identity-service>
        <spinner-service id="spinnerService"></spinner-service>

        <form class="form-horizontal">

            <form-block>
                <div class="col-sm-10 col-sm-offset-2">
                    <form-title content="Merchant Information"></form-title>
                </div>
            </form-block>

            <form-block error-keys="dateFunded">
                <input-label class="col-sm-4">Date Funded</input-label>
                <div class="col-sm-8">
                  <date-input id="dateFunded" input-value="{{dateFunded}}"></date-input>
                    <form-error error-keys="dateFunded" errors="{{ form.errors }}"
                                messages="{{ formMessages }}"></form-error>

                </div>
            </form-block>

            <form-block error-keys="amount">
                <input-label class="col-sm-4">Amount Funded</input-label>
                <div class="col-sm-8">
                    <text-input id="amount" type="text"></text-input>
                    <form-error errors="{{ form.errors }}" messages="{{ formMessages }}"></form-error>
                </div>
            </form-block>

            <form-block class="text-right">
                <div class="col-sm-10 col-sm-offset-2">
                    <div class="row">
                        <div class="col-sm-8">

                                <template is="dom-if" if="{{ !form.state.isSubmitting }}">
                                    <input type="button" class="btn btn-primary" on-click="submit" disabled="{{ form.state.isSubmitting }}" value="Submit"/>                              </template>
                                <template is="dom-if" if="{{ form.state.isSubmitting }}">
                                    <input type="button" class="btn btn-primary" on-click="submit" disabled="{{ form.state.isSubmitting }}" value="Saving..."/>
                                </template>
                                or <span><a href="javascript:;" on-click="resetForm">Cancel</a></span>

                        </div>
                    </div>
                </div>
            </form-block>

        </form>

        <http-request id="http"></http-request>

        <style>
            .form-horizontal input-label.col-sm-2 {
                text-align: right;
            }
        </style>

    </template>
    <script>
        Polymer({
            is: "save-funding",
            ready:function(){
              this.set("radioButtonClickHandler", this.selectPaymentMethod.bind(this));
            },
            attached: function () {
                var self = this;
                var submit = this.submit;
            },
            properties: {
                form: {
                    value: function () {
                        var self = this;

                        return {
                            state: {
                                isSubmitting: false,
                                submitCount: 0
                            },
                            data: {},
                            fields: [
                                "dateFunded",
                                "amount"
                            ],

                            // Note that validation keys are arbitrary. They do not necessarily correspond to fields.
                            validate: function () {
                                isRequired = self.validators.isRequired;
                                isNotEqual = self.validators.isNotEqual;

                                var rules = {
                                     dateFunded: function () {
                                         var dateFunded = self.form.data.dateFunded;
                                         return isRequired(dateFunded);
                                     },
                                    amount: function(){
                                      var amount = self.form.data.amount;
                                      return isRequired(amount);
                                    }
                                };

                                return rules;
                            }
                        }
                    },
                    type: Object
                },
                religion:{
                  type:Array,
                  notify:true,
                  value:function(){
                      return [{
                        selected: true,
                        label:"Select Religion",
                        value:""
                      },{
                        selected: false,
                        label:"Hindu",
                        value:1
                      },{
                        selected: false,
                        label:"Muslim",
                        value:2
                      },{
                        selected: false,
                        label:"Christian",
                        value:3
                      },{
                        selected: false,
                        label:"Sikh",
                        value:4
                      },{
                        selected: false,
                        label:"Zoroastrian",
                        value:5
                      },{
                        selected: false,
                        label:"Jain",
                        value:6
                      },{
                        selected: false,
                        label:"Other",
                        value:7
                      }
                    ];
                  }
                },
                selectedCategory:{
                  type:String,
                  notify:true,
                  value:"SC"
                },
                categories:{
                  type:Array,
                  notify:true,
                  value:function(){
                    return [{
                      label:"SC",
                      value:"1"
                    },{
                      label:"ST",
                      value:"2"
                    },{
                      label:"OBC",
                      value:"3"
                    },{
                      label:"General",
                      value:"4"
                    },{
                      label:"Other",
                      value:"5"
                    }];
                  }
                }
            },
            behaviors: [
                eventHub,
                workflowActivityBehavior,
                formBehavior,
                formValidators,
                formMessages,
                alloy.ensureDependenciesBehavior
            ],
            mapFieldsToPayload: function (fields) {
                return this.$.merchantService.mapFieldsToEnrollPayload(fields);
            },
            selectPaymentMethod: function(selectedCategory) {
              this.set("selectedCategory", selectedCategory);
            },
            completeForm: function (event) {
                var self = this;
                var offerEngine = window.config.services.offerEngine;
                var url = "/application/" + self.applicationNumber + "/loan-fundeddata";
                self.showSpinner();
                var payload = {
                  "FundedDate":self.form.data.dateFunded,
                  "FundedAmount":self.form.data.amount
                };
                self.$.http.post(url, payload, offerEngine).then(function (data) {
                  console.log("save fundingdata called successfully ", data);
                  self.hideSpinner();
                }).fail(function (e) {
                  console.log("save fundingdata error is ",e);
                  self.hideSpinner();
                });
            },
            getReligion:function(){
              var religionMap =[{
                selected: true,
                label:"",
                value:""
              },{
                selected: false,
                label:"Hindu",
                value:1
              },{
                selected: false,
                label:"Muslim",
                value:2
              },{
                selected: false,
                label:"Christian",
                value:3
              },{
                selected: false,
                label:"Sikh",
                value:4
              },{
                selected: false,
                label:"Zoroastrian",
                value:5
              },{
                selected: false,
                label:"Jain",
                value:6
              },{
                selected: false,
                label:"Other",
                value:7
              }
            ];
            return religionMap;

          },//TODO:Find some polymer way or use form id instead form[index]
          resetForm:function(){
            console.log("reset is called");
            document.forms[1].reset();
          }
        });
    </script>
</dom-module>