<html-import html-href="event/hub.html"></html-import>
<html-import html-href="ui-elements/groups/activity.html"></html-import>
<dom-module id="dynamo-activity">
    <style>
    </style>
    <template>

        <activity-unit id="activity" config="{{activity}}"></activity-unit>

        <url-parser id="url"></url-parser>
        <event-hub id="hub"></event-hub>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
        <alloy-tenant id="tenant" alloy-tenant="{{tenantConfig}}"></alloy-tenant>
    </template>
    <script>
        Polymer({
            is: "dynamo-activity",
            behaviors: [
                eventHub
            ],
            attached: function() {
                var self = this;

                this.subscribe("activity:dynamo", this.loadActivity.bind(this));
                this.subscribe("dynamic:close", this.closeActivity.bind(this));
                this.subscribe("activity:clicked", function(e) {
                    if (e.instance === self.$.activity) {
                        self.publish("activities:dynamic-close");
                    }
                });
            },
            loadActivity: function(event) {
                var activity = {
                    src: event.path,
                    title: event.title,
                    properties: event.properties,
                    configuration: event.configuration
                }
                this.set("activity", activity);
                this.$.activity.openActivity();
            },
            closeActivity: function() {
                this.$.activity.closeActivity();
            }
        });
    </script>
</dom-module>