<html-import html-href="event/hub.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<html-import html-href="ui-elements/groups/unit.html"></html-import>
<dom-module id="tab-group">
	<style>
        .panel-body {
            min-height: 200px;
        }
        .nav-tabs {
            margin-bottom: -1px;
        }
		.nav li a {
			padding: 14px 16px 14px 20px;
		}
    </style>
	<template>
		<div class="row">
			<div class="col-lg-12">
				<div class="tabs-container">
					<ul class="nav nav-tabs">
						<template is="dom-repeat" items="{{tabs}}" as="tab">
							<li class$="{{setFirstActive()}}">
								<a data-toggle="tab" data-target$="{{tabTarget(index)}}">
									<i class$="{{tabIcon(tab.icon)}}"></i><span>{{tab.text}}</span>
								</a>
							</li>
						</template>
					</ul>
					<div class="tab-content">
						<template is="dom-repeat" items="{{tabs}}" as="config">
							<div id="{{tabId(index)}}" class$="{{setFirstActivePanel()}}">
								<div class="panel-body">
									<group-unit config="{{config}}"></group-unit>
								</div>
							</div>
						</template>
					</div>
				</div>
		
			</div>
		</div>
        <event-hub id="hub">
            <event-subscription event="tabs:reset" on-handle="resetTabs"></event-subscription>
        </event-hub>
		<alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
	</template>
	<script>
		// 	applicationTabs": {
		//     "src": "ui-elements/groups/tabs.html",
		//     "configuration": {
		//         "tabs": [
		//             {
		//                 "icon": "home",
		//                 "text": "Sublime",
		//                 "src": "application/tabs/log.html",
		//                 "dependencies": [
		//                     "currentLoan"
		//                 ]
		//             }
		//         ]
		//     }
		// }
		Polymer({
		  is : "tab-group",
          attached : function() {
              var self = this;
              
              if (window.jQuery) {
                  self.init();
              } else {
                  window.addEventListener("WebComponentsReady", self.init);
              }
          },
          init : function() {
			  this.tabs = this.tabList || this.config.tabs;
			  window.addEventListener("getDependencies", function(event) {
				  var tab = event.detail.context;
				  var dependencies = event.detail.dependencies;
				  this.setBoundProperties(tab, dependencies);
			  }.bind(this));
          },
		  setBoundProperties: function(tab, dependencies) {
	          for (var i = 0; i < dependencies.length; i++) {
			      var dependency = dependencies[i];
			      tab.setDependency(dependency, this[dependency]);
			  }
		  },
          properties : {
              currentLoan: Object
          },
          resetTabs: function() {
              $(".loan-tab").each(function() {
                  if (typeof this.resetTab === "function") {
                      this.resetTab();
                  }
              })
          },
            //tab panes
		  setFirstActivePanel: function() {
			  var defaultClasses = ["tab-pane", "fade"];
			  if (!this.setActivePanel) {
				this.setActivePanel = true;
				  defaultClasses.push("in active");
			  }
			  return defaultClasses.join(" ");
		  },

            //tabs
		  setFirstActive: function() {
			  var defaultClasses = [""];
			  if (!this.setActive) {
				  this.setActive = true;
				  defaultClasses.push(" active");
			  }
			  return defaultClasses.join(" ");
		  },
		  tabId: function(index) {
			  return "tab-" + index;
		  },
		  tabTarget: function(index) {
			  return "#" + this.tabId(index);
		  },
		  tabIcon: function(icon) {
			  return "fa fa-" + icon;
		  }
		})
	</script>
</dom-module>