<html-import html-href="event/hub.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<html-import html-href="ui-elements/inputs/date-input.html"></html-import>
<html-import html-href="ui-elements/forms/activity-form.html"></html-import>
<dom-module id="modify-status">
    <style>
        .inline-block {
            display: inline-block;
        }
        .status-menu {
            width: 90%;
            margin-right: 2%;
        }
        .status-check {
            width: 5%;
        }
        #confirmation-label {
            pointer-events: none;
        }
        .arrow-cursor {
            cursor: default;
        }
        .checkbox-inline input[type="checkbox"] {
            width: 20px;
        }
    </style>
    <template>
        <activity-form id="modify-status-form">
            <div>
                <select disabled$="{{!confirmationChecked}}" class="form-control inline-block status-menu" name="status" id="loan-status" value="{{selectedStatusCode::change}}">
                    <option value="{{currentLoan.status.code}}">{{getDescription(currentLoan.status.description, currentLoan.status.code)}}</option>
                    <template is="dom-repeat" items="{{displayStatuses}}">
                        <option value="{{item.code}}">{{getDescription(item.status, item.code)}}</option>
                    </template>
                </select>
                <span class="form-group inline-block status-check">
                    <div class="checkbox checkbox-inline checkbox-primary arrow-cursor">
                        <input checked="{{confirmationChecked::change}}" id="confirmation-checkbox" type="checkbox">
                        <label id="confirmation-label" for="confirmation-checkbox"></label>
                    </div>
                </span>
            </div>
            
            <div class="form-group animated fadeIn" hidden$="{{hideDateSelectors(selectedStatusCode)}}">
                <h4><strong>Start Date</strong></h4>
                <date-input id="dateSelector" input-value="{{startDate}}"></date-input>
            </div>
            
            <div class="form-group animated fadeIn" hidden$="{{hideDateSelectors(selectedStatusCode)}}">
                <h4><strong>End Date</strong></h4>
                <date-input id="dateSelector" input-value="{{endDate}}"></date-input>
            </div>
            
            <h4><b>Notes</b></h4>
            <div class="form-group">
                <textarea id="notes" rows="6" form="ach-form" class="form-control" value="{{notes::input}}"></textarea>
            </div>
            
            <input id="submit" type="submit" class="btn btn-primary" on-click="submitForm">
            or <span><a href="javascript:;" on-click="resetApp">Cancel</a></span>
            
            <event-hub id="hub">
            </event-hub>
            <http-request id="http"></http-request>
        </activity-form>
    </template>
    <script>
        Polymer({
            is: "modify-status",
            properties: {
                currentLoan: {
                    type: Object,
                    notify: true
                }
            },
            observers: [
                        "initializeDropdown(currentLoan)",
                        "setDefaultSelectedStatusCode(currentLoan)"
                        ],
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                self.notes = "";
                self.confirmationChecked = false;
                self.dropDownInitialized = false;
                
                self.startDate = null;
                self.endDate = null;
                
                return function() {
                    self.initializeDropdown();
                };
            },
            initializeDropdown: function(currentLoan) {
                var self = this;
                
                self.getStatuses(self.getMapping(function() {
                    self.dropDownInitialized = true;
                    self.generateDropdown(currentLoan);
                }))()
            },
            getStatuses: function(callback) {
                var self = this;
                
                return function() {
                    self.loanStatuses = {};
                    self.$.http.get("/loan/loanStatus", window.config.services.configuration, function(statuses) {
                        for (var i = 0; i < statuses.length; i++) {
                            var status = statuses[i];
                            self.loanStatuses[status.code] = status.name;
                        }
                        callback.call(self);
                    });
                }
            },
            getMapping: function(callback) {
                var self = this;
                
                return function() {
                    self.$.http.get("loan/statusMapping", window.config.services.configuration, function(mapping) {
                        self.statusMapping = mapping;
                        callback.call(self);
                    });
                }
            },
            setDefaultSelectedStatusCode: function(currentLoan) {
                if (!currentLoan) { return }
                this.selectedStatusCode = this.currentLoan.status.code;
            },
            generateDropdown: function(currentLoan, code) {
                if (!currentLoan && currentLoan !== null) { return }
                
                // get currentLoan code, look up code in mapping, push codes in loanStatuses to displayStatuses array
                //http get loan statuses from loan config
                var statusCode = code || this.currentLoan.status.code;
                var mapping = this.statusMapping[statusCode]
                this.displayStatuses = [];
                for (var i = 0; i < mapping.length; i++) {
                    var code = mapping[i];
                    this.push("displayStatuses", {
                        code: code,
                        status: this.loanStatuses[code]
                    })
                }
            },
            resetApp: function() {
                this.$["modify-status-form"].clearErrorMessages();
                
                this.selectedStatusCode = this.currentLoan.status.code;
                $(this.$.notes).val("");
                
                this.init();
                this.$.hub.publish("activity:close", {
                  activity: "modify-status"
              });
            },
            submitForm: function(e) {
                // Change selected
                var self = this;
                e.preventDefault();
                
                var form = self.$["modify-status-form"];
                
                if (!self.confirmationChecked) { return form.displayErrorMessage("Confirm status change by selecting the status checkbox.") }
                
                form.clearErrorMessages();
                var startDate = self.startDate ? moment(self.startDate).format("YYYY-MM-DD") : null;
                var endDate = self.endDate ? moment(self.endDate).format("YYYY-MM-DD") : null;
                var endpoint = ["", ":loan", self.selectedStatusCode];
                if (!self.hideDateSelectors(self.selectedStatusCode)) {
                    if (endDate && !startDate) {
                        return form.displayErrorMessage("Must select an start date when setting an end date.");
                    }
                    if (startDate && endDate) {
                        if (moment(endDate).isBefore(startDate) || endDate === startDate) {
                            return form.displayErrorMessage("End date must be after start date.");
                        }
                        endpoint.push(startDate, self.currentLoan.status.code, endDate);
                    }
                    if (startDate && !endDate) {
                        endpoint.push(startDate);
                    }
                }

                self.$.http.post(endpoint.join("/"),
                {}, window.config.services.loanStatusManagement,
                function() {
                    self.set("currentLoan.status.code", self.selectedStatusCode)
                    self.set("currentLoan.status.description", self.loanStatuses[self.selectedStatusCode]);
                    
                    self.generateDropdown(null, null, self.selectedStatusCode);
                    self.$.hub.publish("notification:show", { type: "success", message: "Status modified successfully." });
                    self.resetApp();
                    $(self.$["loan-status"]).val(self.selectedStatusCode);
                }, function(error) {
                    if (error && error.responseJSON && error.responseJSON.message) {
                        return self.displayErrorMessage(error.responseJSON.message);
                    }
                    return self.displayErrorMessage("Error submitting request. Please try again or contact support.");
                });
            },
            getDescription: function(subStatus, code) {
                var status = "";
                if (code < 200) {
                    status = "Active - ";
                } else if (code < 300) {
                    status = "Situation - ";
                } else if (code < 400) {
                    status = "Closed - ";
                }
                return status + subStatus;
            },
            hideDateSelectors: function(status) {
                return status !== "100.08" && status !== "100.07";
            }
        });
    </script>
</dom-module>