<dom-module is="fact-details">
   <style>
        .panel-group .panel {
            border-radius: 0;
            box-shadow: none;
            border-color: #EEEEEE;
        }

        .panel-default > .panel-heading {
            padding: 0;
            border-radius: 0;
            color: #212121;
            background-color: #FAFAFA;
            border-color: #EEEEEE;
        }

        .panel-title {
            font-size: 14px;
        }

        .panel-title > a {
            display: block;
            padding: 15px;
            text-decoration: none;
        }

        .more-less {
            float: right;
            color: #212121;
        }

        .panel-default > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #EEEEEE;
        }
    </style>
    <template>
        <div class="row">
            <div class="col-md-8">
                <template is="dom-repeat" items="{{factNormalized}}" as="factSoruce">
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt> Verified By </dt>
                            <dd> {{factSoruce.verifiedBy}} </dd>
                            <dt> Verified On </dt>
                            <dd> {{factSoruce.dateAttempt}} </dd>
                            <dt> Verification Status </dt>
                            <dd> {{factSoruce.result}} </dd>
                        </dl>
                    </div>
                    <div class="panel-group clearfix" style="clear: both !important" id="factSoruce" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="{{factSoruce.sourceName}}-Header">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#factSoruce" href="#{{factSoruce.sourceName}}{{index}}" aria-expanded="true" aria-controls="{{factSoruce.sourceName}}{{index}}">
                                        <i class="more-less glyphicon glyphicon-plus"></i> {{factSoruce.displayName}}
                                    </a>
                                </h4>
                            </div>
                            <div id="{{factSoruce.sourceName}}{{index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{factSoruce.sourceName}}-Header">
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <template is="dom-repeat" items="{{factSoruce.fields}}" as="field">
                                            <dt> {{field.label}} </dt>
                                            <dd> {{field.value}} </dd>
                                        </template>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
                <!-- panel-group -->
            </div>
        </div>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "fact-details",
            properties: {
                fact: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                factConfig: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                factNormalized: {
                    type: Array,
                    notify: true,
                    value: []
                }
            },
            formatDate: function (date) {
                if (date !== undefined) {
                    return moment.tz(date, window.tenant.timezone).format("MM/DD/YYYY LT z");
                }
                return "";
            },
            _checkIfNullObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _normalizedFactDetails: function () {
                var self = this;
                var factObj = this.fact;
                var verificationSources = factObj.verificationSources;
                var attempts = factObj.attempts;
                var normObjArr = [];
                var configEndpoint = window.config.services.backofficeconfiguration;
                self.$.http.get("/backoffice-portal/fact-detail", configEndpoint).then(function (data) {
                    self.set('factConfig', data);
                    for (var i = 0; i < verificationSources.length; i++) {
                        var tempObj = {};
                        var sourceObj = verificationSources[i];
                        var attemptObj = attempts[i];
                        tempObj.type = sourceObj.source.type;
                        tempObj.sourceName = sourceObj.sourceName;
                        if (!self._checkIfNullObject(attemptObj)) {
                            tempObj.result = attemptObj.result;
                            tempObj.verifiedBy = attemptObj.verifiedBy;
                            tempObj.dateAttempt = self.formatDate(attemptObj.dateAttempt);
                        }
                        if(tempObj.type === "Form"){
                            var inputData = sourceObj.dataExtracted.input;
                            var fieldsObj = self.factConfig[sourceObj.sourceName];
                            if (fieldsObj != undefined) {
                                $.each(fieldsObj.fields, function (index, obj) {
                                    obj["value"] = inputData[obj.data];
                                });
                                tempObj.fields = fieldsObj.fields;
                                tempObj.displayName = fieldsObj.displayName;
                            }
                        }
                        else if(tempObj.type === "Syndication"){
                            var inputData = sourceObj.dataExtracted.input.data.data;
                            var fieldsObj = self.factConfig[sourceObj.sourceName];
                            if (fieldsObj != undefined) {
                                $.each(fieldsObj.fields, function (index, obj) {
                                    obj["value"] = inputData[obj.data];
                                });
                                tempObj.fields = fieldsObj.fields;
                                tempObj.displayName = fieldsObj.displayName;
                            }
                        }
                        normObjArr.push(tempObj);
                    }
                    self.set('factNormalized', normObjArr);
                }).fail(function (e) {
                    console.log("loadConfig error is ", e);
                });
            },
            attached: function () {
                this._normalizedFactDetails();
            }
        });
    </script>
</dom-module>