<dom-module is="verification-details">
    <template>
                <table class="table table-bordered">
                    <thead>
                            <tr>
                                <th>Fact
                                </th>
                                <th>Status
                                </th>
                                <th>Verification Result
                                </th>
                                <th>Verified By
                                </th>
                                <th>Verified On
                                </th>
                            </tr>
                            </thead>
                        <tbody>
                <template is="dom-repeat" items="{{verificationNormalized}}" as="verificationSoruce">
                        <tr>
                                <td>{{verificationSoruce.displayName}}
                                </td>
                                <td>{{verificationSoruce.status}}
                                </td>
                                <td>{{verificationSoruce.verificationResult}}
                                </td>
                                <td>{{verificationSoruce.verifiedBy}}
                                </td>
                                <td>{{verificationSoruce.verifiedDate}}
                                </td>
                            </tr>
                </template>
                </table>
            
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "verification-details",
            properties: {
                MasterVerification: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                verificationAppDetails: {
                    type: Array,
                    notify: true,
                    value: []
                },
                verificationNormalized: {
                    type: Array,
                    notify: true,
                    value: []
                }
            },
            formatDate: function (date) {
                if (date !== undefined) {
                    return moment.tz(date, window.tenant.timezone).format("MM/DD/YYYY LT z");
                }
                return "";
            },
            _checkIfNullObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _getFactByFactName: function(array,factName){
                var attemptObj = array.filter(function(e){
                    return e.factName === factName;
                })[0];
                return attemptObj || {};
            },
            _verificationDetails: function() {
                var self = this;
                var normObjArr = self.verificationNormalized;
                var verificationEngine = window.config.services.verificationEngine;
                self.$.http.get("/application/"+self.applicationNumber, verificationEngine).then(function (data) {
                    for(var i = 0; i < normObjArr.length; i++) {
                        var factObj = self._getFactByFactName(data,normObjArr[i].fact);
                        if(!self._checkIfNullObject(factObj)){
                            normObjArr[i].status = factObj.currentStatus;
                            normObjArr[i].verificationResult = factObj.verificationStatus;
                            normObjArr[i].verifiedBy = factObj.lastVerifiedBy;
                            normObjArr[i].verifiedDate = self.formatDate(factObj.lastVerifiedDate);
                            normObjArr[i]= $.extend({},normObjArr[i])
                        }
                    }
                    self.set('verificationNormalized', $.extend([],normObjArr));
                }).fail(function (ex) {
                    console.log("loadConfig error is ", ex);
                });
            },
            _getMasterData: function () {
                var self = this;
                var normObjArr = [];
                var base = window.config.services.jsonbase;
                var tenant = "/app/"+window.tenant.name+"/";
                var url = base + tenant + "/json/facts.json";
                $.getJSON(url, function (factData) {
                    var keys = Object.keys(factData);
                    for (var i = 0; i < keys.length; i++) {
                        var tempObj = {};
                        tempObj.fact = keys[i];
                        tempObj.displayName = factData[keys[i]].displayName;
                        tempObj.status = "-";
                        tempObj.verificationResult = "-";
                        tempObj.verifiedBy = "-";
                        tempObj.verifiedDate = "-";
                        normObjArr.push(tempObj);
                    }
                    self.set('verificationNormalized', normObjArr);
                    self._verificationDetails();
                }).fail(function (e) {
                    console.log("loadConfig error is ", e);
                });
            },
            attached: function () {
                this._getMasterData();
            }
        });
    </script>
</dom-module>