
<html-import html-href="app-view/file-upload/file-upload-icons.html"></html-import>

<dom-module id="file-upload">

  <style type="text/css">
    :host {
      display: inline-block;
    }

    .enabled {
      border: 1px dashed #555;
      @apply(--file-upload-upload-border-enabled);
    }

    .hover {
      opacity: .7;
      border: 1px dashed #111;
      @apply(--file-upload-upload-border-hover);
    }

    #UploadBorder{
      vertical-align: middle;
      color: #555;
      padding: 20px;
      max-height: 300px;
      overflow-y: auto;
      display: inline-block;
      @apply(--file-upload-upload-border);
    }

    #dropArea {
      text-align: center;
      @apply(--file-upload-drop-area);
    }

    paper-button#button {
      margin-bottom: 20px;
      @apply(--file-upload-button);
    }

    .file {
      padding: 10px 0px;
      @apply(--file-upload-file);
    }

    .commands {
      float: right;
      @apply(--file-upload-commands);
    }

    .commands iron-icon:not([icon="check-circle"]) {
      cursor: pointer;
      opacity: .9;
      @apply(--file-upload-commands-faded);
    }

    .commands iron-icon:hover {
      opacity: 1;
      @apply(--file-upload-commands-hovered);
    }

    [hidden] {
      display: none;
    }

    .error {
      color: #f40303;
      font-size: 11px;
      margin-top: 2px;
      @apply(--file-upload-error);
    }

    .progress-bar {
      margin-top: 2px;
    }

    paper-progress {
      --paper-progress-active-color: #03a9f4;
    }

    paper-progress[error] {
      --paper-progress-active-color: #f40303;
    }
  </style>

  <template>
    <div>
      <paper-button id="button" icon="file-upload-icons:file-upload" class="blue" on-click="_fileClick" alt="{{paperButtonAlt}}" title="{{paperButtonTitle}}">
        <content></content>
      </paper-button>
      <div id='UploadBorder' hidden$="{{hideFileList}}">
        <div id="dropArea" hidden$="{{!_shownDropText}}">{{dropText}}</div>
        <template is="dom-repeat" items="{{files}}">
          <div class="file">
            <div class="name">
              <span>{{item.name}}</span>
              <div class="commands">
                <iron-icon icon="file-upload-icons:autorenew" title="{{retryText}}" on-click="_retryUpload" hidden$="{{!item.error}}"></iron-icon>
                <iron-icon icon="file-upload-icons:cancel" title="{{removeText}}" on-click="_cancelUpload" hidden$="{{item.complete}}"></iron-icon>
                <iron-icon icon="file-upload-icons:check-circle" title="{{successText}}" hidden$="{{!item.complete}}"></iron-icon>
              </div>
            </div>
            <div class="error" hidden$="{{!item.error}}">{{errorText}}</div>
            <div class="progress-bar" hidden$={{progressHidden}}>
              <paper-progress value$="{{item.progress}}" error$="{{item.error}}"></paper-progress>
            </div>
          </div>
        </template>
      </div>
    </div>
    <input type="file" id="fileInput" on-change="_fileChange" hidden multiple="{{multi}}" accept="{{accept}}">
    <!--<paper-toast id="toastSuccess" text="File uploaded successfully!"></paper-toast>
    <paper-toast id="toastFail" text="Error uploading file!"></paper-toast>-->
  </template>

</dom-module>

<script>

  Polymer({

    is: 'file-upload',

    /**
     * Fired when a response is received status code 2XX.
     *
     * @event success
     */
    /**
     * Fired when a response is received other status code.
     *
     * @event error
     */
    /**
     * Fired when a file is about to be uploaded.
     *
     * @event before-upload
     */

    properties: {

      /**
       * `target` is the target url to upload the files to.
       * Additionally by adding '<name>' in your url, it will be replaced by
       * the file name.
       */
      target: {
        type: String,
        value: ''
      },

      /**
       * `accept` is the set of comma separated file extensions or mime types
       * to filter as accepted.
       */
      accept: {
        type: String,
        value: ''
      },


      /**
       * `hideFileList` indicates whether or not the file list should be hidden.
       */
      hideFileList: {
        type: Boolean,
        value: false
      },

      /**
       * `progressHidden` indicates whether or not the progress bar should be hidden.
       */
      progressHidden: {
        type: Boolean,
        value: false
      },

      /**
       * `droppable` indicates whether or not to allow file drop.
       */
      droppable: {
        type: Boolean,
        value: false
      },

      /**
       * `dropText` is the  text to display in the file drop area.
       */
      dropText: {
        type: String,
        value: 'Drop Files Here'
      },

      /**
       * `multi` indicates whether or not to allow multiple files to be uploaded.
       */
      multi: {
        type: Boolean,
        value: false
      },

      /**
       * `files` is the list of files to be uploaded
       */
      files: {
        type: Array,
        notify: true,
        value: function() {
          return [];
        }
      },

      /**
       * `method` is the http method to be used during upload
       */
      method: {
        type: String,
        value: 'PUT'
      },

      /**
       * `withCredentials` indicates whether or not use xhr's withCredentials on upload
       */
      withCredentials: {
        type: Boolean,
        value: false
      },

      /**
       * `raised` indicates whether or not the button should be raised
        */
      raised: {
        type: Boolean,
        value: false
      },

      /**
       * `noink` indicates that the button should not have an ink effect
       */
      noink: {
        type: Boolean,
        value: false
      },

      /**
       * `headers` is a key value map of header names and values
       */
      headers: {
        type: Object,
        value: {
          'Authorization':'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJteS1hcHAiLCJpYXQiOiIyMDE1LTEwLTA5VDA1OjExOjI3LjUzNzc3MjdaIiwiZXhwIjpudWxsLCJzdWIiOm51bGwsInRlbmFudCI6Im15LXRlbmFudCIsInNjb3BlIjpudWxsfQ.vVcomx0eqAs8WvFWEB-ntIB8kaijAqEzXB1AC8bNvaM'
        },
      },

      /**
       * `retryText` is the text for the tooltip to retry an upload
       */
      retryText: {
        type: String,
        value: 'Retry Upload'
      },

      /**
       * `removeText` is the text for the tooltip to remove an upload
       */
      removeText: {
        type: String,
        value: 'Remove'
      },

      /**
       * `successText` is the text for the tooltip of a successful upload
       */
      successText: {
        type: String,
        value: 'Success'
      },

      /**
       * `errorText` is the text to display for a failed upload
       */
      errorText: {
        type: String,
        value: 'Error uploading file...'
      },

      /**
       * `_shownDropText` indicates whether or not the drop text should be shown
       */
      _shownDropText: {
        type: Boolean,
        value: false
      },

      /**
       * `additional` object of key-pair values to send additional values along with file.
       */
      additional: {
        type: Object,
        value: {},
      },

      /**
       * `manualUpload` indiciates that when a file is selected it will <b>NOT</b> be automatically uploaded. `uploadFile` will have to be called programmatically on the files to upload.
       */
      manualUpload: {
        type: Boolean,
        value: false
      },

      /**
       * `fileDataName` is the name for the file data in the `formData` object.
       */
      fileDataName: {
        type: String,
        value: 'file'
      },

      /**
       * `paperButtonAlt` allows changing the alt property on the paper button
       */
      paperButtonAlt: {
        type: String,
        value: ''
      },

      /**
       * `paperButtonTitle` allows changing the title property on the paper button
       */
      paperButtonTitle: {
        type: String,
        value: ''
      }
    },

    /**
     * Clears the list of files
     */
    clear: function() {
      this.set('files', []);
      this.$.fileInput.value = '';
      this._showDropText();
    },

    ready: function() {
      if (this.raised) {
        this.toggleAttribute('raised', true, this.$.button);
      }
      if (this.noink) {
        this.toggleAttribute('noink', true, this.$.button);
      }
      if (this.droppable) {
        this._showDropText();
        this.setupDrop();
      }
    },

    /**
     * A function to set up a drop area for drag-and-drop file uploads
     */
    setupDrop: function() {
      var uploadBorder = this.$.UploadBorder;
      this.toggleClass('enabled', true, uploadBorder);

      this.ondragover = function(e) {
        e.stopPropagation();
        this.toggleClass('hover', true, uploadBorder);

        // Workaround for allowgin drop from Chome's download footer on OSX
        // See https://bugs.chromium.org/p/chromium/issues/detail?id=234931
        var effect = e.dataTransfer && e.dataTransfer.dropEffect;
        var effectAllowed = e.dataTransfer && e.dataTransfer.effectAllowed;
        if (effect === 'none' && effectAllowed !== 'none') {
          e.dataTransfer.dropEffect = effectAllowed === 'move' ? 'move' : 'copy'
        }
        // end of workaround

        return false;
      }

      this.ondragleave = function() {
        this.toggleClass('hover', false, uploadBorder);
        return false;
      }

      this.ondrop = function(event) {
        this.toggleClass('hover', false, uploadBorder);
        event.preventDefault();

        // Check if multiple upload is allowed
        if (!this.multi && this.files.length !== 0) {
          return;
        }

        var length = event.dataTransfer.files.length;
        for (var i = 0; i < length; i++) {
          var file = event.dataTransfer.files[i];

          // Check if filetype is accepted
          var mimeType = ((file.type !== '') ? file.type.match(/^[^\/]*\//)[0] : null);
          var fileType = file.name.match(/\.[^\.]*$/)[0];
          if (this.accept !== '' && !(this.accept.indexOf(mimeType) > -1 || this.accept.indexOf(fileType) > -1)) {
            continue;
          }

          file.progress = 0;
          file.error = false;
          file.complete = false;
          this.push('files', file);
          if (!this.manualUpload) {
            this.uploadFile(file);
          }
        }
      }
    },

    /**
     * Clicks the invisible file input
     */
    _fileClick: function() {
      var elem = this.$.fileInput;
      if (elem && document.createEvent) { // sanity check
        var evt = document.createEvent('MouseEvents');
        evt.initEvent('click', true, false);
        elem.dispatchEvent(evt);
      }
    },

    /**
     * Called whenever the list of selected files changes
     *
     * @param {object} e An event object
     */
    _fileChange: function(e) {
      var length = e.target.files.length;

      for (var i = 0; i < length; i++) {
        var file = e.target.files[i];
        file.progress = 0;
        file.error = false;
        file.complete = false;
        if (!this.multi){
          this.set('files',[file]);
        }
        else{
          this.push('files', file);
        }
        if (!this.manualUpload) {
          this.uploadFile(file);
        }
      }
    },

    /**
     * Cancels the file upload for a specific file
     *
     * @param {object} file An element of the files array
     */
    cancel: function(file) {
      if (file) {
        if (file.xhr) {
          file.xhr.abort();
        }
        this.splice('files', this.files.indexOf(file), 1);
        this._showDropText();
      }
    },

    /**
     * Cancels the file upload
     *
     * @param {object} e An event object
     */
    _cancelUpload: function(e) {
      this.cancel(e.model.__data__.item);
    },

    /**
     * Retries to upload the file
     *
     * @param {object} e An event object
     */
    _retryUpload: function(e) {
      e.model.set('item.error', false);
      e.model.set('item.progress', 0);
      // The async helps give visual feedback of a retry occurring, even though it's less efficient.
      var self = this;
      this.async(function() {
        self.uploadFile(e.model.__data__.item);
      }, 50);
    },

    /**
     * Whether or not to display the drop text
     */
    _showDropText: function() {
      this.set('_shownDropText', (!this.files.length && this.droppable));
    },
    /**
     * Uploads a file
     *
     * @param {object} file An element of the files array
     */
    uploadFile: function(file) {
      if (!file) {
        return;
      }
      this.fire('before-upload');
      this._showDropText();
      var prefix = 'files.' + this.files.indexOf(file);
      var self = this;

      var formData = new FormData();

      // Add additional data to send with the POST variable
      var addData = this.additional;
      for (var key in addData) {
          if (addData.hasOwnProperty(key)) {
            formData.append(key, addData[key]);
          }
      }

      // Add the file data last to support POSTing to Amazon Web Services S3.
      formData.append(this.fileDataName, file, file.name);

      var xhr = file.xhr = new XMLHttpRequest();
      xhr.withCredentials = this.withCredentials;

      xhr.upload.onprogress = function(e) {
        var done = e.loaded, total = e.total;
        self.set(prefix + '.progress', Math.floor((done/total)*1000)/10);
      };

      var url = this.target.replace('<name>', file.name);
      xhr.open(this.method, url, true);
      //this.headers = {
      //  "Authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJteS1hcHAiLCJpYXQiOiIyMDE1LTEwLTA5VDA1OjExOjI3LjUzNzc3MjdaIiwiZXhwIjpudWxsLCJzdWIiOm51bGwsInRlbmFudCI6Im15LXRlbmFudCIsInNjb3BlIjpudWxsfQ.vVcomx0eqAs8WvFWEB-ntIB8kaijAqEzXB1AC8bNvaM"
    //  }
      for (key in this.headers) {
        if (this.headers.hasOwnProperty(key)) {
          xhr.setRequestHeader(key, this.headers[key]);
        }
      }
      xhr.onload = function(e) {
        if (xhr.status >= 200 && xhr.status < 300) {
          self.fire('success', {xhr: xhr});
          self.set(prefix + '.complete', true);
        } else {
          self.set(prefix + '.error', true);
          self.set(prefix + '.complete', false);
          self.set(prefix + '.progress', 100);
          self.updateStyles();
          self.fire('error', {xhr:xhr});
        }
      };
      xhr.send(formData);
    }
  });

</script>
