<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/dropdown-list.html"></html-import>
<html-import html-href="ui-elements/dropdown-element.html"></html-import>
<dom-module id="filter-table">
    <style>
        .alert {
            text-align: center;
        }
        #payment-search {
            width: 250px;
        }
        #length-selector {
            width: auto;
            display: inline-block;
            margin-right: 5px;
        }
        .header-right {
            position: absolute;
            right: 20px;
        }
        .footer-right {
            float: right;
        }
        .header {
            margin: 20px 0;
        }
        .header .input-group {
            width: 1px;
        }
        label {
            font-weight: normal;
        }
        .well {
            margin-top: 30px;
            text-align: center;
        }
    </style>
    <template>
        <http-request id="http"></http-request>
        <alloy-format id="format"></alloy-format>
        
        <div hidden$="{{!hasAlert}}" id="status-message" class="animated fadeIn well">No loans found</div>
        
        <div class="header">
            <span class="header-left">
                <label>
                    <select name="table_length" id="length-selector" class="form-control">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> payments per page
                </label>
            </span>
            <span class="header-right">
                <div class="inline-block">
                    <div class="input-group">
                        <input type="text" id="payment-search" class="form-control" value="{{searchTerm::input}}" placeholder="Search...">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </span>
        </div>
        
        <table id="queue" class="table issue-tracker">
            <thead>
                <tr>
                    <th>Loan Number</th>
                    <th>Customer Name</th>
                    <th>Amount</th>
                        <th>Rate</th>
                        <th>Term</th>
                        <th>Last Payment Date</th>
                        <th>Due Date</th>
                        <th>Amount Due</th>
                        <th>Days Past Due</th>
                        <th>Remaining Balance</th>
                        <th>Investor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{filterItems}}" as="item">
                    <tr>
                        <td>{{item.loanReferenceNumber}}</td>
                        <td><span>{{item.customerName}}</span></td>
                        <td>$<span>{{formatMoney(item.amount)}}</span></td>
                        <td>{{item.rate}}</td>
                        <td>{{item.term}}</td>
                        <td>{{formatDate(item.lastPaymentDate)}}</td>
                        <td>{{formatDate(item.dueDate)}}</td>
                        <td>{{item.amountDue}}</td>
                        <td>{{item.daysPastDue}}</td>
                        <td>$<span>{{formatMoney(item.remainingBalance)}}</span></td>
                        <td>{{item.investor}}</td>

                        <td align="center">
                            <template is="dom-if" if="{{hasMultipleOptions}}">
                                <dropdown-list>
                                    <template is="dom-repeat" items="{{options}}">
                                        <dropdown-element></dropdown-element>
                                    </template>
                                </dropdown-list>
                            </template>
                            <template is="dom-if" if="{{!hasMultipleOptions}}">
                                <button on-click="openLoanView" class="btn btn-primary btn-xs" data-ref$="{{item.loanReferenceNumber}}" data-index$="{{index}}">Details</button>
                            </template>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
        
        <div class="foot" hidden$="{{!hasLoans(filterItems)}}">
            <div class="footer-right">
                <div id="paginationContainer"></div>
            </div>
            <div class="footer-left">
                <div id="informationContainer"></div>
            </div>
        </div>

    </template>
    <script>
        Polymer({
            is : "filter-table",
            properties: {
                id: String
            },
            properties: {
                filterItems: {
                    type: Object,
                    notify: true
                },
                hasAlert: {
                    type: Boolean,
                    notify: true
                },
                orderedLoans: {
                    type: Array,
                    notify: true
                }
            },
            ready: function() {
                this.hasMultipleOptions = false;
            },
            attached: function(){
                this.async(function(){
                    var table = this.table = $(this.$.queue).DataTable({
                        sDom: '<"top">rt<"bottom"ip><"clear">',
                        aaSorting: [[0, "desc"]],
                        columnDefs: [{
                            targets: 11,
                            orderable: false
                        }]
                    })
                    // .on( 'order.dt search.dt page.dt', function() {
                    .on( 'order.dt search.dt', function() {
                        this.setOrderedLoansIds();
                    }.bind(this));
                    // Custom search
                    $(this.$["payment-search"]).on('input', function() {
                        table.search(this.value).draw();
                    });
                    
                    // Custom Length Selector
                    $(this.$["length-selector"]).on("change", function() {
                        table.page.len(this.value).draw();
                    })
                    
                    $("#paginationContainer").append($(".dataTables_paginate"));
                    $("#informationContainer").append($(".dataTables_info"));
                    // Check if running in Chrome
                    if (window.chrome) {
                        $(".dataTables_empty").html($("#status-message"));
                    }
                    if (!window.chrome) {
                        setTimeout(function() {
                            table.draw();
                        })
                        setTimeout(function() {
                            $(".dataTables_empty").html($("#status-message"));
                        })
                    }
                    
                    this.setOrderedLoansIds();
                }.bind(this));
            },
            formatMoney : function(value){
                if(typeof(value) != Number)
                    value = new Number(value);
                return value.formatMoney(2);
            },
            formatDate: function(date) {
                if (typeof this.$.format.formateDate === "function") {
                    return this.$.format.formatDate(date);
                }
                return "";
            },
            hasLoans: function(loans) {
                return this.filterItems.length > 0;
            },
            openLoanView: function(e) {
                var tableRow = $(e.target).closest('tr')[0];
                var rowIndex = this.table.rows( { order: 'applied', search: 'applied' } ).nodes().indexOf(tableRow);

                this.fire("viewLoan", {
                    orderedIndex: rowIndex,
                    loanReference: e.model.__data__.item.loanReferenceNumber
                });
            },
            setOrderedLoansIds: function() {
                var result = [];
                var loans = this.table.rows({
                    order: 'applied',
                    // page: 'current',
                    search: 'applied'
                }).nodes();
                for (var i = 0; i < loans.length; i++) {
                    result.push($(loans[i]).find('td').first().text());
                }
                this.orderedLoans = result;
            }
        });
    </script>
</dom-module>