<dom-module id="update-income-expense">
    <template>
       <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="cashflowForm">
                    <dynamic-form form-configuration={{prefiosReportObj}} values="{{prefiosReportObj.values}}"></dynamic-form><br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "update-income-expense",
            properties: {
                dataAttributes: {
                    type: Object,
                    notify: true
                },
                prefiosReportObj : {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "monthlyRent": {
                                "title": "Monthly Rent",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 10
                                }
                            },
                            "DebtPayments": {
                                "title": "Debt Payments",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 10
                                }
                            },
                            "monthlyExpenses": {
                                "title": "Monthly Expense",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 10
                                }
                            },
                            "creditCardBalances": {
                                "title": "Credit Card Balances",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 10
                                }
                            }
                        },
                    values: {
                        monthlyRent: 0,
                        DebtPayments: 0,
                        monthlyExpenses: 0,
                        creditCardBalances: 0,
                        }
                    }
                }
            },
            _checkIfNullObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _getIncomeExpenseData : function() {
                    var self = this;
                    var url = "/application/" + self.applicationNumber;
                    var dataAttributes = window.config.services.dataAttributes;
                    self.$.http.get(url, dataAttributes).then(function (data) {
                        //self.set('dataAttributes', data);
                        if(!self._checkIfNullObject(data.application)){
                            self.prefiosReportObj.values["monthlyRent"] = data.application.monthlyRent;
                            self.prefiosReportObj.values["DebtPayments"] = data.application.selfEmi;
                            self.prefiosReportObj.values["monthlyExpenses"] = data.application.monthlyExpense;
                            self.prefiosReportObj.values["creditCardBalances"] = data.application.creditCardBalance;
                            //self.set('prefiosReportObj', self.prefiosReportObj);
                            self.set('prefiosReportObj', $.extend({},self.prefiosReportObj));
                    }
                    }).fail(function (e) {
                        console.log("_getIncomeExpenseData error is " + e);
                    });
            },
            _verifyForm: function (event){
                event.preventDefault();
                var self = this;
                var prefiosReportObj = self.prefiosReportObj;
                var form = Polymer.dom(event).localTarget.parentElement;
                var offerEngine = window.config.services.offerEngine;
                var url = "/application/" + self.applicationNumber + "/selfDeclaredExpense";
                if(form.validate()){
                    self.$.http.put(url,prefiosReportObj.values, offerEngine).then(function (result) {
                        console.log(result);
                        //For hide Div after Update Detail
                        $(event.target).parents().find('update-income-expense').parent().hide();
                        //To get list of LoanActivity template and then display block for all Div.
                        //var listOfParentelements = $("loan-activity > div:nth-type(1)");
                        var listOfParentelements = $("loan-activity");
                            for (i = 0; i < listOfParentelements.length; i++) { 
                                $(listOfParentelements[i]).children().first().show();
                            }
                    }).fail(function (e) {
                        console.log("loadConfig error is ", e);
                    });
                }
            },
            attached: function () {
               this._getIncomeExpenseData();
            }
        });
    </script>
</dom-module>