<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-styles/typography.html">

<dom-module id="what-do-you-do">
  <template>
    <style include="shared-styles">
      :host {
        display: table;
        margin: 0 auto !important;
        width: 100%
      }
      span,
      input {
        @apply(--paper-font-body2);
      }





      .option-container {
        width: 125px;
        height: 160px;
        border-radius: 5px;
        margin: 5px;
      }
      paper-button.option {
         background-color: white;
         color: white;
         width: 125px;
         height: 150px;
         margin: 0px;

       }
       paper-button.option[active] {
         background-color: var(--paper-green-500);
       }
       paper-button.option:hover {
         background-color: var(--paper-indigo-100);
       }

       .option-header {
         text-align: center;
         padding-top: 10px;
       }


    </style>

    <div >
      <span style="padding-top: 150px "></span>


        <h3 class="center" > What about work?</h3>







        <div style="margin-top: 50px !important" class="center">

          <div style="display: -moz-box; width: 100%"  >
                  <template is="dom-repeat" items="{{options}}">
                    <paper-material class="option-container" elevation="1">
                        <div class="card-content">
                          <div class="option-header">{{item.title}}</div>
                        </div>
                        <div class="card-actions">
                          <paper-button   toggles class="option">
                            <iron-image  sizing="contain" style="width: 32px; height: 32px;" src="{{item.image}}"> </iron-image>
                          </paper-button>
                        </div>
                      </paper-material>
                  </template>
          </div>

          <span style="padding-top: 25px; display:block;"></span>

          <div style="display: -moz-box;">
            <iron-image class="small-logo" sizing="contain"  src="/images/work.png"></iron-image>
            <paper-input class="input-control" label="Employer Name"></paper-input>
          </div>
          <span style="padding-top: 15px; display:block;"></span>

          <div style="display: -moz-box;">
            <iron-image class="small-logo" sizing="contain"  src="/images/income.png"></iron-image>

            <p style="font-size: 27px; margin-right: 10px;">&#8377;</p>
            <paper-input class="input-control" label="Income">

            </paper-input>

         </div>



        </div>
       <span class="center">
         <paper-button style="margin-top: 20px" class="indigo" raised on-click="next"> Next </paper-button>
       </span>

        <span style="padding-top: 150px"></span>


    </div>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'what-do-you-do',
        next: function (event) {
          page('/general-expenses');
        },
        properties: {
          greeting: {
            type: String,
            value: 'Welcome!',
            notify: true
          },
          maxAllowedAmount: {
            type: Number,
            value: 500000,
            notify: true
          },
          minAllowedAmount: {
            type: Number,
            value: 50000,
            notify: true
          },
          options: {
            type: Array,
            value: [{
              title: 'SALARIED',
              image: '/images/tick.png'
            },{
              title: 'SELF EMPLOYED',
              image: '/images/tick.png'
            }
          ],
            notify: true
          }
        }
      });
    })();
  </script>
</dom-module>
