<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-styles/typography.html">

<dom-module id="amount-required">
  <template>
    <style include="shared-styles">
      :host {
        display: table;
        margin: 0 auto !important;
        width: 100%
      }
      span,
      input {
        @apply(--paper-font-body2);
      }

      paper-slider.orange {
        --paper-slider-knob-color: var(--paper-orange-500);
        --paper-slider-active-color: var(--paper-orange-500);
        --paper-slider-pin-color: var(--paper-orange-700);
        --paper-slider-height: 8px;
        width: 60%;
        margin-top: 80px !important;
      }

      paper-button.indigo {
         background-color: var(--paper-indigo-500);
         color: white;
         --paper-button-raised-keyboard-focus: {
           background-color: var(--paper-pink-a200) !important;
           color: white !important;
         };
       }
    </style>

    <div >
      <span style="padding-top: 150px"></span>


        <p class="center" > How much do you need?</p>
        <span style="padding-top: 150px"></span>



        <paper-slider
        id="amountRequiredSlider"
        class="center orange"
        update
        snaps  max-markers="10"
        expand step="100"
        min="{{minAllowedAmount}}"
        max="{{maxAllowedAmount}}"
        value="{{amountRequired}}"></paper-slider>

        <span >
          <h1 style="margin-top: 120px !important;" class="center"> {{formatCurrency(amountRequired, '&#8377;', 0)}} </h1>
        </span>


       <span class="center">
         <paper-button style="margin-top: 20px" class="indigo" raised on-click="next"> Next </paper-button>
       </span>

        <span style="padding-top: 150px"></span>


    </div>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'amount-required',
        next: function (event) {
          page('/reason');
        },
        formatCurrency: function (input, currency, precision) {
            	if (isNaN(input)) {
            		return "Value is not a Number";
            	} else {
            		currency = currency || "$";
            		precision = precision || 2;

            		input = Number(input);
            		input = input.toFixed(precision);
            	}

            	var
            		parts = input.split('.'),
                fnum = parts[0],
            	 	fnumEnding = fnum.lenght < 4 ? 0 : parts[0],
            	 	decimal = parts[1] ? '.' + parts[1] : '';

                if(fnumEnding){
                  fnum = fnum.substring(0, fnum.length - 3);
                  fnumEnding = ',' + fnumEnding.substring(fnum.length);
                } else {
                  fnumEnding = '';
                }

            	return currency + ' ' + fnum.replace(/(\d)(?=(?:\d{2})+$)/g, '$1,') + fnumEnding + decimal;
            },
        properties: {
          greeting: {
            type: String,
            value: 'Welcome!',
            notify: true
          },
          maxAllowedAmount: {
            type: Number,
            value: 500000,
            notify: true
          },
          minAllowedAmount: {
            type: Number,
            value: 50000,
            notify: true
          },
          amountRequired: {
            type: Number,
            value: 250000,
            notify: true
          }
        }
      });
    })();
  </script>
</dom-module>
