<dom-module id="event-subscription">
	<script>
		// <event-subscription event="tabs:reset" on-handle="resetTabs"></event-subscription>
		Polymer({
			is: "event-subscription",
			properties: {
				event: {
					type: String,
					reflectToAttribute: true
				}
			},
			ready: function() {
				var self = this;
				self.handler = function() {
					var args = ["handle"].concat([].splice.call(arguments, 0));
					self.fire.apply(self, args);
				};
				self.fire("registerSubscription", {
                    event: self.event,
                    handler: self.handler
                });
			}
		});
	</script>
</dom-module>