<!doctype html>
<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Polymer Starter Kit">
  <title>Qbera</title>

  <!-- Place favicon.ico in the `app/` directory -->

  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#2E3AA1">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="PSK">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- endbuild -->

  <!-- Because this project uses vulcanize this should be your only html import
       in this file. All other imports should go in elements.html -->
  <link rel="import" href="elements/elements.html">

  <!-- For shared styles, shared-styles.html import in elements.html -->
  <style is="custom-style" include="shared-styles"></style>
</head>

<body unresolved>
  <!-- build:remove -->
  <span id="browser-sync-binding"></span>
  <!-- endbuild -->

  <template is="dom-bind" id="app">

    <!-- Main Content -->

    <paper-material  elevation="1">

      <paper-progress hidden="{{hideProgressBar}}" style="width: 100%; padding-bottom: 10px;" value="{{step}}" max="8"></paper-progress>
      <h1 class="center" hidden="{{hideProgressBar}}">Qbera</h1>


      <iron-pages attr-for-selected="data-route" selected="{{route}}">
        <section data-route="home" tabindex="-1">
              <my-greeting></my-greeting>
        </section>

        <section data-route="amount-required" tabindex="-1">
               <amount-required></amount-required>
        </section>

        <section data-route="reason" tabindex="-1">
               <requirement-reason></requirement-reason>
        </section>

        <section data-route="who-are-you" tabindex="-1">
               <who-are-you></who-are-you>
        </section>
        <section data-route="what-do-you-do" tabindex="-1">
               <what-do-you-do></what-do-you-do>
        </section>
        <section data-route="general-expenses" tabindex="-1">
               <general-expenses></general-expenses>
        </section>

        <section data-route="personal-details" tabindex="-1">
               <personal-details></personal-details>
        </section>

        <section data-route="general-agreement" tabindex="-1">
               <general-agreement></general-agreement>
        </section>

        <section data-route="amount-offered" tabindex="-1">
               <amount-offered></amount-offered>
        </section>


        <section data-route="user-info" tabindex="-1">
          <paper-material elevation="-1">
            <h1 class="page-title" tabindex="-1">User: {{params.name}}</h1>
            <div>This is {{params.name}}'s section</div>
          </paper-material>
        </section>

        <section data-route="contact" tabindex="-1">
          <paper-material elevation="1">
            <h1 class="page-title" tabindex="-1">Contact</h1>
            <p>This is the contact section</p>
          </paper-material>
        </section>
      </iron-pages>
  </paper-material>


    <paper-toast id="toast">
      <span class="toast-hide-button" role="button" tabindex="0" onclick="app.$.toast.hide()">Ok</span>
    </paper-toast>

    <!-- Uncomment next block to enable Service Worker support (1/2) -->
    <!--
    <paper-toast id="caching-complete"
                 duration="6000"
                 text="Caching complete! This app will work offline.">
    </paper-toast>

    <platinum-sw-register auto-register
                          clients-claim
                          skip-waiting
                          base-uri="bower_components/platinum-sw/bootstrap"
                          on-service-worker-installed="displayInstalledToast">
      <platinum-sw-cache default-cache-strategy="fastest"
                         cache-config-file="cache-config.json">
      </platinum-sw-cache>
    </platinum-sw-register>
    -->

  </template>

  <!-- build:js scripts/app.js -->
  <script src="scripts/app.js"></script>
  <!-- endbuild-->
</body>

</html>
