<dom-module id="loan-amount">
    <style>
    </style>
    <template>
        <div class="row">
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-title">
                        <h1>How much do you need,
                            {{capitalize(output.name)}}?</h1>
                    </div>
                    <div class="ibox-content">
                        <input id="amount" class="form-control" type="text">
                    </div>
                    <div class="ibox-footer">
                        <span class="btn btn-primary"
                              on-click="submit">Submit</span>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "loan-amount",

            behaviors: [eventHub, workflowActivityBehavior],

            validators: {
                empty: function (val)
                {
                    return val === "" ? "empty" : "";
                }
            },

            properties: {
                fields: {
                    value: function ()
                    {
                        var self = this;
                        return [{
                            id: "amount",
                            value: "",
                            validators: [
                                self.validators.empty
                            ]
                        }]
                    }
                }
            },

            getErrors: function ()
            {
                var self = this;
                self.errors = self.fields.map(function (field)
                {
                    return {
                        id: field.id,
                        validators: field.validators.map(function (validator)
                        {
                            return validator(field.value);
                        })
                    }
                });

                var isValid = self.errors.every(function (field)
                {
                    return field.validators.every(function (validator)
                    {
                        return validator === "";
                    });
                })

                self.set("isValid", isValid);
            },

            gatherFieldValues: function ()
            {
                var self = this;
                self.fields.forEach(function (field)
                {
                    field.value = $("#" + field.id, self).val();
                });
            },

            getField: function (field)
            {
                this.setFields();
                return this.fields.filter(function (field)
                {
                    return field.id === field
                })[0].value;
            },

            submit: function ()
            {
                var self = this;
                self.gatherFieldValues();
                self.getErrors();
                if (self.isValid) {
                    self.publishActivityComplete({
                        output: self.getField("amount")
                    });
                }
            },

            capitalize: function (str)
            {
                if (!str) return
                return str.charAt(0).toUpperCase() + str.slice(1);
            }
        });
    </script>
</dom-module>