<dom-module id="work-flow-denied">
    <style>
    </style>
    <template>
        <h1>Denied</h1>
    </template>
    <script>
        Polymer({
            is: "work-flow-denied",
            behaviors:[eventHub, workflowActivityBehavior]
            
        });
    </script>
</dom-module>