<dom-module id="side-kick">
    <style>
    </style>
    <template>
        <button class="btn btn-primary" on-click="r2d2">R2-D2</button>
        <button class="btn btn-primary" on-click="chewie">Chewie</button>
    </template>
    <script>
        Polymer({
            is: "side-kick",
            behaviors:[eventHub, workflowActivityBehavior],
            r2d2: function() {
                this.publishActivityComplete({
                    output: {
                        sidekick: "r2d2"
                    },
                    terminated: true
                })
            },
            chewie: function() {
                var output = this.output || {};
                output.sidekick = "chewie";
                this.publishActivityComplete({
                    output: output
                });
            }
        });
    </script>
</dom-module>