<!--<link rel="import" href="../styles/app-theme.html">
<link rel="import" href="../styles/shared-styles.html">-->
<link rel="import" href="../elements/elements.html">
<link rel="stylesheet" href="../styles/main.css">

<dom-module id="blank-layout">
    <template>
        <micro-app current-app></micro-app>
    </template>
    <script>
        Polymer({
            is: "blank-layout"
        });
    </script>
</dom-module>