<html-import html-href="document-manager/file-upload/file-upload.html"></html-import>
<dom-module is="doc-manager">
    <style type="text/css">
    .fileupload{
      width:100%;
    }
    </style>
    <template>
        <template is="dom-repeat" items="{{documents}}" as="item">
          <div class="row">
            <div class="col-md-6">
              <file-upload class="fileupload"  max-file-size="{{item.maxFileSize}}" raised="true" accept="image/*" target="{{_endPointUrl(item)}}" method="post">Upload {{_getTitle(item)}}</file-upload>
            </div>
          </div>
      </template>
    <http-request id="http"></http-request>
    </template>
    <script>

        Polymer({
            is: "doc-manager",
          properties: {
              documents:{
                  type:Array,
                  notify:true,
                  value: undefined
              }
          },
          _endPointUrl:function(item){
            //http://192.168.1.59:5050/application/LCUSA-0000038
            //{{default_host}}:{{verification_engine_port}}/application/3/PanVerification/PanManual/PANCardForm/pancard/upload-document
            var pathSeparator ="/";
            var host="http://192.168.1.59";
            var port="5212";
            item.entityId="CE-0000045";
            var endPointUrl = host+":"+port+pathSeparator+item.entity+pathSeparator+item.entityId+
            pathSeparator+item.fact+pathSeparator+item.verificationMethod+
            pathSeparator+item.verificationSource+pathSeparator+item.documentName
            +pathSeparator+"upload-document";
            console.log("upload endpointurl is "+endPointUrl);
            return endPointUrl;
          },
          _getTitle: function(item){
            return item.title || item.documentName;
          },
          ready:function(){
            console.log("ready is called");
            var self = this;
            self.addEventListener("before-upload", self.beforeUpload.bind(self));
            console.log("docs size is "+this.documents);
          },
          attached:function(){
            console.log("attached is called");
          },
          beforeUpload:function(e){
            console.log("beforeUpload is called"+e);
          }
        })
    </script>
</dom-module>
