<dom-module id="update-bank-details">
    <template>
        <div>
            TBD
        </div>
    </template>
    <script>
        Polymer({
            is: "update-bank-details",

            ready:function(){
            },

            attached: function () {
                var self = this;
            }
        });
    </script>
</dom-module>