<html-import html-href="services/format.html"></html-import>
<dom-module id="message-info">
    <template>
        <style>
            .back-button-label {
                margin-left: 5px;
                top: -5px;
                position: relative;
            }
            a {
                color: black;
            }
            a:hover {
                color: #88BF40;
            }
        </style>
        <div class="mail-box-header">
            <div class="mail-tools">
                <div>
                    <a on-click="navigateBack">
                        <i class="fa fa-arrow-circle-left fa-2x"></i>
                        <span class="back-button-label">Inbox</span>
                    </a>
                </div>
                <br>
                <h2>
                    <span>Subject: </span>
                    <span>{{messageInfo.subject}}</span>
                </h2>
                <br>
                <h4>
                    <span>{{formatDate(messageInfo.date)}}</span>
                </h4>
                <h4>
                    
                    <span>From: </span>
                    <span>{{messageInfo.from}}</span>
                </h4>
                <h4>
                    <span>To: </span>
                    <span>{{messageInfo.to}}</span>
                </h4>
            </div>
        </div>
        <div class="mail-box">
            <div class="mail-body">{{messageInfo.body}}</div>
        </div>
        <alloy-format id="format"></alloy-format>
    </template>
    <script>
        Polymer({
            is: "message-info",
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                return function() {
                }
            },
            properties: {
                messageInfo: {
                    type: Object,
                    notify: true
                }
            },
            formatDate: function(date) {
                return this.$.format.formatDate(date);
            },
            navigateBack: function() {
                window.history.back();
            }
        })
    </script>
</dom-module>