<dom-module id="custom-email">
    <style>
      .sendEmailToast{
        max-width: 536px !important;
        position:static !important;
      }
    </style>
    <template>
      <http-request id="http"></http-request>
      <custom-modal id="sendEmail" class="modal-drop" on-modal-hidden="resetModal">
          <div>
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title">Compose Email</h4>
                      </div>
                      <div class="modal-body">
                          <div><paper-input label="To" disabled value="{{_extractEmailAddress(applicantDetail.emailAddresses)}}"></paper-input></div>
                          <paper-input id="subject" label="Subject"></paper-input>
                          <polymer-tinymce id="body"  menubar="false"
                            tinytoolbar="insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
                            tinyplugins='["template advlist autolink lists link image charmap print preview anchor","searchreplace visualblocks code fullscreen","insertdatetime media table contextmenu paste"]'
                            templates='[
                          {"title": "Some title 1", "description": "Some desc 1", "content": "My content"},
                          {"title": "Some title 2", "description": "Some desc 2", "url": "http://google.com"}]'
                          ></polymer-tinymce>
                          <paper-toast id="toast" class="fit-bottom sendEmailToast"  duration="2000" text="Email has been sent successfully!"></paper-toast>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary"  on-click="sendEmail">Send</button>
                      </div>
                  </div>
              </div>
          </div>
      </custom-modal>
    </template>
    <script>
        Polymer({
          is : "custom-email",
          properties: {
            applicantDetail: {
              type: Object,
              notify: true
            }
          },
          ready:function(){
            var self= this;
            console.log("custom-email ready is called");
            this._loadApplicantDetail();
          },
          _fullName:function(){
            return this.applicantDetail.firstName.concat(" "+this.applicantDetail.middleName +" "+this.applicantDetail.lastName);
          },
          _loadApplicantDetail:function(){
            var self = this;
            var applicantDetails = window.config.services.applicantDetail;
            console.log("applicant NO is ", this.applicantNumber);
            self.$.http.get(this.applicantNumber, applicantDetails).then(function (data) {
              console.log("applicantDetail data is ", data);
              self.set('applicantDetail', data);
            }).fail(function (e) {
              console.log("applicant error is "+ e);
            });
          },
          _extractEmailAddress: function (emailAddresses) {
            return  emailAddresses && emailAddresses.length ? emailAddresses[0].email : 'N/A';
          },
          show:function(){
               this.$.sendEmail.showModal();
          },
          sendEmail:function(){
            var emailService = window.config.services.emailSerivce;
            console.log("sendEmail is called");
            //http://192.168.1.59:5206/application/CE-0000045
            var self = this;
            var payload={
            	ToName : self._fullName(),
            	ToAddress : 'prajapati.mn@sigmainfo.net',//self._extractEmailAddress(self.applicantDetail.emailAddresses),
            	Subject : self.$.subject.value,
            	Body : self.$.body.getContent()
            };
            self.$.http.post( '/application/'+self.applicationNumber, payload, emailService).then(function (data) {
                console.log("email data is ", data);
                //self.$.toast3.center();
                self.$.toast.fitInto = self.$.sendEmail;
                self.$.toast.open();//({text: 'Email has been sent successfully', duration: 0});
                function  hide(){
                  self.$.sendEmail.hideModal();
                }
                setTimeout(function(){
                  hide();
                },2100);
            }).fail(function (e) {
                console.log("email error is "+e);
            });
          }
      });
    </script>
</dom-module>