<html-import html-href="spinny/index.html"></html-import>
<html-import html-href="documents-upload/vaadin-upload.html"></html-import>
<dom-module is="doc-upload">
<style is="custom-style">
  :root {
    --vaadin-upload-buttons-primary: display:inline-block;
  }
</style>
    <style>
        .panel-body {
            min-height: 200px;
        }
        .nav-tabs {
            margin-bottom: -1px;
        }
        .cell{
          margin:5px;
          padding:5px;
        }
        .show{
          display:block;
        }
        .hide{
          display:none;
        }

    </style>
    <template>
        <div class="panel panel-default">
            <div class="panel-heading">Upload Pending Document</div>
            <div class="panel-body">
                <!-- Upload Document Tabl -->
                <div id="uploadDocument">
                    <div class="panel-body">
                      <template is="dom-if" if="{{!_isDocumentReceived(documentsReceived)}}">
                          <spinny-view></spinny-view>
                      </template>
                      <template is="dom-if" if="{{ _isDocumentReceived(documentsReceived)}}">
                        <template is="dom-repeat" items="{{pendingDocs}}" as="pdoc">
                          <vaadin-upload id="{{_generateID(pdoc)}}"  custom-many-label="{{pdoc.docName}}" target="{{_getServerUrl(pdoc)}}" method="POST"></vaadin-upload>
                        </template>
                        <vaadin-upload id="other" custom-many-label="Others"></vaadin-upload>
                      </template>
                    </div>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "doc-upload",
              properties: {
                 factsData:{
                   type:Object
                 },
                 documentsReceived:{
                   type:Boolean,
                   notify:true,
                   value:false
                 },
                 pendingDocs:{
                   type:Array,
                   notify:true,
                   value:[]
                 },
                 applicationNumber:{
                   type:String,
                   observer : "_applicationNumber_changed"
                 }
              },
              _documentName:function(doc){
                console.log("documentName "+doc.documentsRequested[0]);
                return doc.documentsRequested[0];
              },
              _generateID:function(doc){
                return this._documentName(doc).toLowerCase();
              },
              // _applicationNumber_changed:function(){
              //   this.pendingDocs = [];
              //   this.documents = [];
              //   this.factsData ={};
              //   this.documentsReceived=false;
              //   this.ready();
              // },
              ready:function(){
                var self = this;
                console.log("doc-upload ready is called");
                this.pendingDocs = [];
                this.factsData ={};
                this.documentsReceived=false;
                self.addEventListener("DOC_STATUS", self._getDocumentStatus.bind(self));
                self._loadFacts();
              },
              _loadFacts:function(){
                var self =this;
                var verificationEngine = window.config.services.verificationEngine;
                self.$.http.get("/application", verificationEngine).then(function (data) {
                  console.log("documents data is ", data);
                  var factsData =self._transformData(data);
                  var eventData ={data:factsData,current:0};
                  console.log("factsData.length ",factsData.length);
                  self.set("factsData",factsData);
                  self.fire("DOC_STATUS",eventData);
                }).fail(function (e) {
                    console.log("_loadFacts error is ", e);
                });
            },
            _transformData:function(documents){
                var result = documents.filter(function(e) {
            			return (e.methods=e.methods.filter(function(e){
            				return (e.sources=e.sources.filter(function(e){
            					return e.type =='Form';
            				})).length > 0;
            			})).length > 0;
            		});
            		var mapResult =result.map(function(e) {
            			return {
            					fact: e.name,
            					methods: e.methods.map(function(e){ return {
            						method: e.name,
            						source: e.sources[0].name,
            						document: e.sources[0].settings.documentRequired
            					};
            				})
            			}
            		});
                return mapResult;
            },
            _isDocumentReceived:function(){
              return this.documentsReceived;
            },
            _getServerUrl:function(doc){
              var verificationEngine = window.config.services.verificationEngine;
              var serverUrl= verificationEngine + "/application/" + self.applicationNumber + "/" + doc.factName + "/";
              serverUrl = serverUrl+doc.methodName+"/"+this._getSource(doc)+"/"+this._documentName(doc).toLowerCase()+"/"+"upload-document";
              return serverUrl;
          },
            _getSource:function(doc){
              var self = this;
              var source = "";
              var filteredData = self.factsData.filter(function(e){
              	e.methods.filter(function(e){
              	   if(e.method == doc.methodName){
                     source=e.source;
                   }
                   return false;
              	});
              });
              return source;
            },
            _getDocumentStatus:function(e){
              var self = this;
              console.log("_getDocumentStatus called consuming "+e.detail.current+" element");
              var c = e.detail.current + 1;
              var fact = null;
              if(c < e.detail.data.length){
                var eventData ={data:e.detail.data,current:c};
                fact = e.detail.data[e.detail.current].fact;
              }else{
                console.log("_getDocumentStatus all data processed");
                function setDone(){
                  self.set("documentsReceived",true);
                }
                setTimeout(setDone,5000);
                return;
              }
              var verificationEngine = window.config.services.verificationEngine;
              var url = "/application/"+self.applicationNumber+"/"+fact+"/detail";
              self.$.http.get(url, verificationEngine).then(function (data) {
                console.log("_getDocumentStatus data is ", data);
                if(data.length > 1){
                    data.forEach(function(e){
                      if(e.documentStatus == "Requested"){
                          e.docName=e.documentsRequested[0];
                          self.pendingDocs.push(e);
                      }
                    });
                }else{
                    if(data[0].documentStatus == "Requested"){
                        data[0].docName=data[0].documentsRequested[0];
                        self.pendingDocs.push(data[0]);
                    }
                }
                self.fire("DOC_STATUS",eventData);
              }).fail(function (e) {
                console.log("applicant error is ", e);
                self.fire("DOC_STATUS",eventData);
              });
            }
        });
    </script>
</dom-module>