<dom-module id="status-management-service">
<template>
    <http-request id="http"></http-request>
</template>
<script>
    Polymer({
        is: "status-management-service",

        behaviors: [eventHub],

        properties: {
            baseUrl: {
                value: window.config.services.statusManagement
            }
        },

        ready: function() {
            this.publish("statusManagementService.ready", null, this);
        },

        fetchStatuses: function() {
            return Promise.resolve();
            return Promise.resolve(this.$.http.get())
        }
    });
</script>
</dom-module>