<html-import html-href="olark-chat/olark-chat.html"></html-import>
<dom-module id="login-layout">
    <style>
        #app-shell {
            margin: 0;
            height: 100%;
            z-index: 20;
        }
        .center-box {
            display: flex;
            justify-content: center;
            height: 80%;
            flex-direction: column;
            margin: 0 auto;
        }
        img {
            margin: 0 auto;
        }
        micro-app {
            width: 20%;
            min-width: 335px;
            margin: 0 auto;
        }
    </style>
    <template>

        <olark-chat></olark-chat>

        <div id="app-shell" class="text-center gray-bg">
            <div class="center-box">
                <img src="../images/lusa_logo2x.png" alt="LendingUSA" style="width:300px; height:62px;">
                <micro-app current-app></micro-app>
            </div>
        </div>
        <alloy-config id="coreConfig" alloy-configuration="{{configuration}}"></alloy-config>
    </template>

    <script>
        // {{url}}/#/securityLogin
        Polymer({
            is: "login-layout"
        });
    </script>
</dom-module>
