<dom-module id="activity-form">
  <template>
    <div hidden$="{{!hasAlert}}" id="status-message" class="alert alert-danger"></div>

    <form>
      <content id="content"></content>
    </form>
  </template>
  <script>
    Polymer({
      is: "activity-form",
      attached: function() {
        var self = this;

        if (window.jQuery) {
          self.init()();
        } else {
          window.addEventListener("WebComponentsReady", self.init());
        }
      },
      init: function() {
        var self = this;
        // TODO: Automatically parse lightDom and add inputs to this object
        self.formInputs = {
          "date-input" : true,
          "number-input" : true,
          "tag-input": true,
          "routing-number-input": true
        };
        self.hasAlert = false;

        return function() {
          self.async(function() {
            // self.lightDom = Polymer.dom(this.$.content).getDistributedNodes();
            self.lightDom = self.children;
            $(self.$["status-message"], self).prependTo(self.domHost);
          })
        }
      },
      _iterateThroughInputs : function(callback) {
        for (var input in this.formInputs) {
          $(input, this.lightDom).each(function() {
            callback.call(this);
          })
        }
      },
      // API includes error message handling and form clearing.
      displayErrorMessage : function(message) {
        this.hasAlert = true;
        $(this.$["status-message"]).html(message);
      },
      clearErrorMessages : function() {
        this.hasAlert = false;
        $(this.$["status-message"]).html("");

        this._iterateThroughInputs(function() {
          if (typeof this.clea-rError === "function") {
            this.clearError();
          }
        });

        $("input", this.lightDom).removeClass("error");
      },
      clearFields : function() {

        this._iterateThroughInputs(function() {
          this.clearField();
        });

        $("input[type=text], textarea", this.lightDom).val("");
        $("input[type=checkbox]", this.lightDom).prop("checked", false);
        $("input[type=radio]:first", this.lightDom).prop("checked", true);
      },
      clearForm : function() {
        this.clearErrorMessages();
        this.clearFields();
      },
      validateForm : function() {
        var formIsValid = true;
        var invalidForms = 0;

        this._iterateThroughInputs(function() {
          if (!this.validate()) {
            formIsValid = false;
            invalidForms++;
            return;
          }
        })

        if (invalidForms >= 2) {
          this.displayErrorMessage("Please fill out all forms highlighted in red.")
        }
        return formIsValid;
      }
    })
  </script>
</dom-module>
