<html-import html-href="app/dynamic-form/dynamic-form.html"></html-import>
<dom-module id="dynamic-form-index">
    <template>
        <style></style>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                 
                <hr/>
                <hr/>

                <h3>
                    Demo
                </h3>
                <dynamic-form form-configuration={{conf}} values="{{values}}"></dynamic-form>
                <hr/>
                <hr/>
                <h3>
                    PAN
                </h3>

                <dynamic-form form-configuration={{panConf}} values="{{panValues}}"></dynamic-form>
                <hr/>
                <hr/>
                <h3>
                    ID (Driving Lic.)
                </h3>
                <dynamic-form form-configuration={{idDlConf}} values="{{idDlValues}}"></dynamic-form>
                <hr/>
                <hr/>
                <h3>
                    ID (Aadhaar Card)
                </h3>
                <dynamic-form form-configuration={{idAadhaarConf}} values="{{idAadhaarValues}}"></dynamic-form>
                <hr/>
                <hr/>
                <h3>
                    Address(Residence)/Passport
                </h3>
                <dynamic-form form-configuration={{addressPassportConf}} values="{{addressPassportValues}}"></dynamic-form>
                <hr/>
                <hr/>
                <h3>
                    Income Verification (Form16 - Min 1 - Max 12)
                </h3>
                <dynamic-form form-configuration={{incomeVerificationForm16Conf}} values="{{incomeVerificationForm16Values}}"></dynamic-form>

                <hr/>
                <hr/>
                <h3>
                    Bank Verification (VoidedCheck)
                </h3>
                <dynamic-form form-configuration={{bankVerificationVoidedCheckConf}} values="{{bankVerificationVoidedCheckValues}}"></dynamic-form>

            </div>
        </div>

    </template>
    <script>
        Polymer({

            is: 'dynamic-form-index',
            properties: {
                values: {
                    type: Object,
                    value: {
                        firstName: 'Amit',
                        lastName: 'Dave',
                        isAlive: true
                    }
                },
                panValues: {
                    type: Object,
                    value: {}
                },
                idDlValues: {
                    type: Object,
                    value: {}
                },
                addressPassportValues: {
                    type: Object,
                    value: {}
                },
                idAadhaarValues: {
                    type: Object,
                    value: {}
                },
                incomeVerificationForm16Values: {
                    type: Object,
                    value: {}
                },
                bankVerificationVoidedCheckValues: {
                    type: Object,
                    value: {}
                },

                conf: {
                    type: Object,
                    value: {
                        controls: {
                            'firstName': {
                                'title': 'First Name',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'minLen': 1,
                                    'maxLen': 10
                                }
                            },
                            'lastName': {
                                'title': 'Last Name',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'min-len': 1,
                                    'maxLen': 5
                                }
                            },
                            'isAlive': {
                                'title': 'Is Alive',
                                'type': 'checkbox',
                                'validations': {
                                    'required': true,
                                    'min-len': 1,
                                    'maxLen': 10
                                }
                            }
                        }
                    }
                },
                panConf: {
                    type: Object,
                    value: {
                        controls: {
                            'panNo': {
                                'title': 'PAN No',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'min-len': 1,
                                    'maxLen': 10
                                }
                            },
                            'firstName': {
                                'title': 'First Name',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'min-len': 1,
                                    'maxLen': 10
                                }
                            },
                            'lastName': {
                                'title': 'Last Name',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'min-len': 1,
                                    'maxLen': 10
                                }
                            },
                            'dateOfBirth': {
                                'title': 'DOB',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'min-len': 1,
                                    'maxLen': 10
                                }
                            }

                        }
                    }
                },
                idDlConf: {
                    type: Object,
                    value: {
                        controls: {
                            'doesPhotoMatch': {
                                'title': 'Does the photo in DL matches with Borrowers recent picture?',
                                'type': 'checkbox',
                                'validations': {
                                    'required': true
                                }
                            },
                            'doesNameMatch': {
                                'title': 'Does the name in DL matches with Borrowers Name?',
                                'type': 'checkbox',
                                'validations': {
                                    'required': true
                                }
                            },
                            'dateOfBirth': {
                                'title': 'DL Expiry date',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'min-len': 1,
                                    'maxLen': 10
                                }
                            }

                        }
                    }
                },
                idAadhaarConf: {
                    type: Object,
                    value: {
                        controls: {
                            'aadhaarCardNo': {
                                'title': 'Aadhaar Card No',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'minLen': 1,
                                    'maxLen': 10
                                }
                            },
                            'firstName': {
                                'title': 'First Name',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'minLen': 1,
                                    'maxLen': 10
                                }
                            },
                            'lastName': {
                                'title': 'Last Name',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'min-len': 1,
                                    'maxLen': 10
                                }
                            },
                            'address': {
                                'title': 'Address as in Aadhaar Card',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'min-len': 1,
                                    'maxLen': 10
                                }
                            },
                            'doesPhotoMatch': {
                                'title': 'Does the photo in Aadhaar matches with Borrowers recent picture? ',
                                'type': 'checkbox',
                                'validations': {
                                    'required': true
                                }
                            }
                        }
                    }
                },
                addressPassportConf: {
                    type: Object,
                    value: {
                        controls: {
                            'doesPhotoMatch': {
                                'title': 'Does the photo in PP matches with Borrowers recent picture?',
                                'type': 'checkbox',
                                'validations': {
                                    'required': true
                                }
                            },
                            'doesNameMatch': {
                                'title': 'Does the name in PP matches with Borrowers Name?',
                                'type': 'checkbox',
                                'validations': {
                                    'required': true
                                }
                            },
                            'doesAddressMatch': {
                                'title': 'Does the address PP  is same as Borrowers current/permanent address?',
                                'type': 'checkbox',
                                'validations': {
                                    'required': true
                                }
                            },
                            'doesDOBMatch': {
                                'title': 'Does the DOB in PP mathcing with Borrowers?',
                                'type': 'checkbox',
                                'validations': {
                                    'required': true
                                }
                            },
                            'dateOfBirth': {
                                'title': 'PP Expiry date',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'min-len': 1,
                                    'maxLen': 10
                                }
                            }

                        }
                    }
                },
                incomeVerificationForm16Conf: {
                    type: Object,
                    value: {
                        controls: {
                            'panNo': {
                                'title': 'PAN No',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'minLen': 1,
                                    'maxLen': 10
                                }
                            },
                            'employerName': {
                                'title': 'Employer Name',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'minLen': 1,
                                    'maxLen': 10
                                }
                            },
                            'grossIncome': {
                                'title': 'Gross Income',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'min-len': 1,
                                    'maxLen': 10
                                }
                            },
                            'taxableIncome': {
                                'title': 'Taxable Income',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'min-len': 1,
                                    'maxLen': 10
                                }
                            },
                            'fromDate': {
                                'title': 'From Date',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'min-len': 1,
                                    'maxLen': 10
                                }
                            },
                            'toDate': {
                                'title': 'To Date',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'min-len': 1,
                                    'maxLen': 10
                                }
                            }
                        }
                    }
                },
                bankVerificationVoidedCheckConf: {
                    type: Object,
                    value: {
                        controls: {
                            'name': {
                                'title': 'Account Holder Name as in Cheque',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'minLen': 1,
                                    'maxLen': 10
                                }
                            },
                            'bankName': {
                                'title': 'Name of the Bank',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'minLen': 1,
                                    'maxLen': 10
                                }
                            },
                            'ifscCode': {
                                'title': 'IFSC Code',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'min-len': 1,
                                    'maxLen': 10
                                }
                            },
                            'micrCode': {
                                'title': 'MICR Code',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'min-len': 1,
                                    'maxLen': 10
                                }
                            },
                            'bankAccountNo': {
                                'title': 'Bank Account No',
                                'type': 'textbox',
                                'validations': {
                                    'required': true,
                                    'min-len': 1,
                                    'maxLen': 10
                                }
                            }
                        }
                    }
                }

            }
        });
    </script>
</dom-module>

} } });
</script>
</dom-module>
'type': 'textbox', 'validations': { 'required': true, 'min-len': 1, 'maxLen': 10 } }, 'toDate': { 'title': 'To Date', 'type': 'textbox', 'validations': { 'required': true, 'min-len': 1, 'maxLen': 10 } } } } } } });
</script>
</dom-module>

} } });
</script>
</dom-module>
