<html-import html-href="ui-elements/groups/activities.html"></html-import>
<html-import html-href="ui-elements/groups/tab-group.html"></html-import>
<dom-module id="entity-view">
    <template>
        <style>
            .wrapper.wrapper-content {
                padding: 20px 10px 40px !important;
            }

            .sidebar-panel {
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 3;
            }
            .height-controller {
                background-color: #F3F3F4;
                height: 2000px;
                margin-bottom: -2000px;
                overflow: hidden;
            }
            .col-md-4 {
                width: 33.33333333%;
            }
            .filler {
                position: absolute;
                right: 0;
                background-color: #EBEBED;
                z-index: 2;
                width: 33.33%;
            }
            .main-filler {
                position: absolute;
                left: 0;
                background-color: #F3F3F4;
                z-index: -1;
                width: 66.66%;
            }
        </style>

        <template is="dom-if" if="{{validConfig}}">
            <div class="main-filler height-controller"></div>
            <div class="filler height-controller"></div>
            <div class="container-fluid">
                <div class="row">
                        <div class="sidebar-panel col-md-4">
                            <activity-group activity-list="{{config.activities}}"></activity-group>
                        </div>
                        <div class="wrapper wrapper-content col-md-8">
                            <content></content>
                            <template is="dom-if" if="{{!noTabs}}">
                                <tab-group tab-list="{{config.tabs}}" disable-tabs$="{{config.disableTabs}}"></tab-group>
                            </template>
                        </div>
                </div>
            </div>
        </template>
        <event-hub id="hub">
            <event-subscription event="loan:refresh" on-handle="getLoan"></event-subscription>
        </event-hub>
        <alloy-config id="config" config-ready="{{configReady}}"></alloy-config>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "entity-view",
            behaviors: [
                eventHub,
                window.alloy.viewBehavior
            ],
            observers: [
                'setValidConfig(config)'
            ],
            attached: function() {
                this.setConfig(this.domHost.config);
            },
            setValidConfig: function(configuration) {
                if (!configuration) { return; }
                if (!configuration.activities || !configuration.tabs) { return; }
                this.set("validConfig", configuration);
            },
            setConfig: function(configuration) {
                if (!configuration) { return; }
                if (!configuration.activities || !configuration.tabs) { return; }
                this.set("config", configuration);
            },
            properties: {
                config: {
                    type: Object
                },
                dataService: String,
                dataEndpoint: String,
                viewType: String,
                noTabs: {
                    type: Boolean,
                    value: false
                }
            }
        });
    </script>
</dom-module>