<html-import html-href="loan-view/activities/log.html"></html-import>
<html-import html-href="app-view/activitylist.html"></html-import>

<dom-module id="activity-wrapper">
    <style>
    </style>
    <template>
      <http-request id="http"></http-request>


        <div class="panel-body">
            <template is="dom-if" if="{{_rerenderList(activityList)}}">
              <activity-list id="list" activity-list="{{activityList}}" has-alert={{hasAlert}} ></activity-list>
            </template>
        </div>


      <url-parser id="url"></url-parser>
    </template>
    <script>
        Polymer({
            is : "activity-wrapper",
            properties: {
              applicationNumber:{
                type:String,
                notify:true
              },
              activityList: {
                  type: Object,
                  notify: true,
                  value:{}
              },
              hasAlert: {
                  type: Boolean,
                  notify: true
              },
              devMode:{
                type:String,
                notify:true,
                value:"test"
              },
              rerender:{
                type:Boolean,
                notify:true,
                value:false
              }
            },
          ready:function(){
            var self= this;
            console.log("ready is called");
            console.log("applicationNumber is "+this.applicationNumber);
            self.addEventListener('reload', self.reloadActivityList.bind(self));
            self.fetchActivity();

          },
          showSendEmail:function(e){
            console.log("showSendEmail is called");
            this.$.sendEmail.showModal();
          },
          fetchActivity:function(){
            console.log("fetchActivity is called");
            var self=this;
            self.$.http.get('/application/'+this.applicationNumber,
                window.config.services.activityList)
                .then(function (data) {
                  console.log("activityList data is "+data[0]);
                    self.set('activityList', data);
                    if(!self.activityList || !self.activityList.length){
                      self.set('hasAlert', true);
                    }else{
                      self.set('hasAlert', false);
                    }
                    function activityInit(){
                      console.log("activityInit called");
                      if(self.$$('#list')){
                        self.$$('#list').init();
                      }else{
                        console.log("activityInit called before timeout");
                        setTimeout(activityInit, 10);
                      }
                    }

                    setTimeout(function(){
                      activityInit();
                    },10);
                });
              this.async(function(){

                }.bind(this));
          },
          reloadActivityList:function(e){
            console.log("reloadActivityList is called");
          //  this.count = this.$.list.activityCount();
            this.rerender=true;
            this.fetchActivity();
            console.log("activityList.length is  "+this.activityList.length);
          },
           isEmpty:function (obj) {
            for(var prop in obj) {
                if(obj.hasOwnProperty(prop))
                    return false;
            }
            return true;
          },
          _rerenderList:function(){
            /*if(this.count ==0){
              console.log("rerenderList is called");
              return true;
            }*/
            return true;
          }
        });
    </script>
</dom-module>
