<dom-module id="custom-modal">
    <template>
        <div id="modal-wrapper" class="fade modal">
            <content></content>
        </div>
    </template>
    <script>
    // <div>
    //     <div class="modal-dialog">
    //         <div class="modal-content">
    //             <div class="modal-header">
    //             </div>
    //             <div class="modal-body">
    //             </div>
    //             <div class="modal-footer">
    //                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    //                 <button type="button" class="btn btn-primary" data-dismiss="modal" on-click="submitModalForm">Save changes</button>
    //             </div>
    //         </div>
    //     </div>
    // </div>
        Polymer({
            is: "custom-modal",
            attached: function() {
                var self = this;

                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init())
                }
            },
            init: function() {
                var self = this;

                return function() {
                    $(self.$["modal-wrapper"]).on("hidden.bs.modal", function() {
                        self.fire("modal-hidden");
                    });
                    $(self.$["modal-wrapper"]).on("shown.bs.modal", function() {
                        self.fire("modal-shown");
                    });
                }
            },
            showModal: function() {
                $(this.$["modal-wrapper"]).modal("show");
            },
            hideModal: function() {
                $(this.$["modal-wrapper"]).modal("hide");
            }
        })
    </script>
</dom-module>
