<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/dropdown-list.html"></html-import>
<html-import html-href="ui-elements/dropdown-element.html"></html-import>
<dom-module id="filter-table">
    <style>
        .alert {
            text-align: center;
        }
        #payment-search {
            width: 250px;
        }
        #length-selector {
            width: auto;
            display: inline-block;
            margin-right: 5px;
        }
        .header-right {
            position: absolute;
            right: 20px;
        }
        .footer-right {
            float: right;
        }
        .header {
            margin: 20px 0;
        }
        .header .input-group {
            width: 1px;
        }
        label {
            font-weight: normal;
        }
        .well {
            margin-top: 30px;
            text-align: center;
        }
        .status{
          text-align:left;
        }
        .datatabletd {
          text-align: left !important;
          width: 15%;
          color:red;
        }
        div#queue_wrapper {
          text-align: center;
      }
    </style>
    <template>
        <http-request id="http"></http-request>
        <div class="header"></div>

        <table id="queue" class="table table-striped" width="100%" cellspacing="0"></table>

        <div hidden$="{{!hasAlert}}" id="status-message" class="animated fadeIn well">No applications found</div>

        <div class="foot" hidden$="{{!hasLoans(filterItems)}}">
            <div class="footer-right">
                <div id="paginationContainer"></div>
            </div>
            <div class="footer-left">
                <div id="informationContainer"></div>
            </div>
        </div>
        <alloy-format id="format"></alloy-format>
        <url-parser id="url"></url-parser>
    </template>
    <script>
        Polymer({
            is: "filter-table",
            properties: {
                id: String
            },
            properties: {
                filterItems: {
                    type: Object,
                    notify: true
                },
                hasAlert: {
                    type: Boolean,
                    notify: true
                },
                orderedLoans: {
                    type: Array,
                    notify: true
                },
                jsonObj: {
                    type: Object,
                    notify: true
                },
                filterMapping: {
                    type: Object,
                    notify: true
                },
                currentFilterName: {
                    type: String,
                    notify: true,
                    value: "200.01"
                }
            },
            _findFilterMappingMetaData: function (filter) {
                var code = this.filterMapping[filter];
                if (code != undefined) {
                    this.currentFilterName = code;
                }
            },
            _loadJson: function () {
                var self = this;
                //  var base = window.config.base;
                var base = window.config.services.jsonbase;
                var tenant = "/app/"+window.tenant.name+"/";
                var url = base + tenant + "/json/filters.json";
                $.getJSON(url, function (data) {
                  var currFilterName = self.currentFilterName
                    if(currFilterName.includes("tag/")){
                      self.set("currentFilterName",currFilterName.substring((currFilterName.indexOf("/")+1)));
                    }
                    var columnLength = data[self.currentFilterName].columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (data[self.currentFilterName].columns[i].render != undefined) {
                            var render = data[self.currentFilterName].columns[i].render;
                            if (data[self.currentFilterName].columns[i].isFunction) {
                                data[self.currentFilterName].columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                data[self.currentFilterName].columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("jsonObj", data);
                    self.init();
                    console.log("JSON get");
                }).success(function (data) {
                    console.log("JSON success");
                }).fail(function (error) {
                    console.log("JSON error");
                });
            },
            ready: function () {
                var self = this;
                console.log("ready is called");
            },
            init: function () {
                var self = this;
                var table = this.table = $(this.$.queue).DataTable({
                    "data": this.filterItems[0].DATA,
                    "columns": self.jsonObj[this.currentFilterName].columns,
                    "columnDefs": self.jsonObj[this.currentFilterName].columnDefs,
                    "order": self.jsonObj[this.currentFilterName].order
                });

                $('#queue tbody').on('click', 'button', function () {
                    var data = table.row($(this).parents('tr')).data();
                    self.openLoanView(data);
                });

                // Custom search
                $(this.$["payment-search"]).on('input', function () {
                    table.search(this.value).draw();
                });
                var self = this;

                $("#paginationContainer").append($("#queue_paginate"));
                $("#informationContainer").append($("#queue_info"));
                // Check if running in Chrome
                if (window.chrome) {
                    $(".dataTables_empty").html($("#status-message"));
                }
                if (!window.chrome) {
                    setTimeout(function () {
                        table.draw();
                    })
                    setTimeout(function () {
                        $(".dataTables_empty").html($("#status-message"));
                    })
                }
                this.setOrderedLoansIds();
            },
            attached: function () {
                var self = this;
                var params = this.$.url.getParams();
                if (window.jQuery && $.fn.DataTable) {
                    self._loadJson();
                } else {
                    window.addEventListener("WebComponentsReady", self._loadJson());
                }
                self._findFilterMappingMetaData(params.filter);
            },
            formatMoney: function (value) {
                if (typeof (value) != Number)
                    value = new Number(value);
                return value.formatMoney(2);
            },
            formatDate: function (date) {
                if (typeof this.$.format.formatDate === "function") {
                    return this.$.format.formatDate(date);
                }
                return "";
            },
            hasLoans: function (loans) {
                return this.filterItems.length > 0;
            },
            openLoanView: function (data) {
                console.log("filter openLoanView called ");
                this.fire("viewLoan", {
                    loanReference: data.applicationNumber,
                    statusCode: data.statusCode,
                    statusName: data.statusName
                });
            },
            setOrderedLoansIds: function () {
                var result = [];
                var loans = this.table.rows({
                    order: 'applied',
                    search: 'applied'
                }).nodes();
                for (var i = 0; i < loans.length; i++) {
                    result.push($(loans[i]).find('td').first().text());
                }
            }
        });
    </script>
</dom-module>
