
<dom-module id="status-management">
    <style>
    .activity-action-btn{
      padding: 10px;
      width: 100%;
      font-size: inherit;
    }
    </style>
    <template>
            <http-request id="http"></http-request>
      <div>
        <div class="panel panel-default">
            <div class="row">
              <template is="dom-repeat" items="{{statusList}}" as="item">
                  <button type="button" on-click="updateStatus" class="btn btn-primary btn-xs activity-action-btn">{{item.name}}</button>
              </template>
            </div>
        </div>
      </div>
      <url-parser id="url"></url-parser>
    </template>
    <script>
        Polymer({
            is : "status-management",
            updateStatus: function(e) {
              var params = this.$.url.getParams();
              var statusCode = e.model.__data__.item.code;
              console.log("appNummber is "+this.appNumber);
                history.pushState({}, "", "/#/app-view/filter:" + params.filter + "/app:" + params.app + "/code:"+statusCode);
              var event = e;
                var self = this;
              self.$.http.post(
                 '/application/'+this.appNumber+'/'+e.model.__data__.item.code,
                 undefined,
                  window.config.services.statusManagement
                  //'http://192.168.1.59:6002'
                ).then(function (data) {
                    console.log("status data is ", data);

                    window.location.reload();
                    self._reloadStatusList(event);
                    //self._reloadFilterItems();
                }).fail(function (e) {
                    console.log("Filter error is "+e);
                });
              //http://localhost:5000/application/APP_0000000002_SUF/200.01/Jignesh.j
                console.log("filter openLoanView called ");

            },
            _reloadStatusList:function(e){
              this.fire("loadStatusList", {
                  statusCode: e.model.__data__.item.code
              });
            },
            _reloadFilterItems:function(){
              this.fire("reinitializeFilterItems", {});
            }
        });
    </script>
</dom-module>
