<html-import html-href="applicant-block/index.html"></html-import>
<html-import html-href="application-block/index.html"></html-import>
<dom-module id="dtm-application">
  <template>
    <style include="shared-styles">
      :host {
        display: table;
        margin: 0 auto !important;
      }
      span,
      input {
        @apply(--paper-font-body2);
      }

    </style>

    <http-request id="http"></http-request>
    <url-parser id="url"></url-parser>


    <div class="row" >
      <div class="col-md-12">
        <applicant-block applicant-detail="{{applicantDetail}}"></applicant-block>
      </div>
    </div>

    <div class="row" >
      <div class="col-md-12">
        <application-block application-detail="{{applicationDetail}}"></application-block>

      </div>
    </div>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'dtm-application',

        properties: {
          applicationDetail:{
            type:Object,
            value:[]
          },
          applicantDetail:{
            type:Object,
            value:[]
          }
        },

        attached :function(){
          console.log("attached called ");
          var self = this;
          var params = self.$.url.getParams();
          self.app = params.app;
          console.log("self.app  :"+self.app);


          self.$.http.get(
                  self.app, "http://74.208.126.28:5070")
                  .then(function (data) {
                    console.log("Filter data is ", data);
                    self.set('applicationDetail', data);
                    self.applicant_id = data.applicantId;

                    console.log('applicationDetail :'+self.applicationDetail);
                    console.log('applicant_id :'+self.applicant_id);

                    self.$.http.get(
                            self.applicant_id, "http://74.208.126.28:5012")
                            .then(function (data) {
                            console.log("applicantDetail data is ", data);
                            self.set('applicantDetail', data);

                          }).fail(function (e) {
                            console.log("applicant error is "+ e);
                      });

                  }).fail(function (e) {
                    console.log("application error is "+ e);
          });

          console.log("end **");



        },

        ready: function(){
          console.log("ready called ");
        }

      });


    })();
  </script>
</dom-module>
