<html-import html-href="ui-elements/inputs/number-input.html"></html-import>
<dom-module id="routing-number-input">
    <template>
        <div class="form-group">
                <div class="two-column-form">
                    <h4><b>Routing Number</b></h4>
                    <number-input id="routingNumber" input-value="{{inputValue}}"></number-input>
                </div>
                <div class="two-column-form two-column-single-tag">
                    <h4><span>{{bankName}}</span></h4>
                </div>
            </div>

            <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "routing-number-input",
            properties: {
                inputValue: {
                    type: String,
                    notify: true
                },
                bankName: {
                    type: String,
                    notify: true
                }
            },
            attached: function() {
                this.lightHost = $(this).closest("activity-form")[0];
            },
            observers: [
                "checkForBankName(inputValue)"
            ],
            checkForBankName: function(routingNumber) {
                var self = this;
                if (String(routingNumber).length === 9 && routingNumber !== undefined) {
                    this.setBankName(routingNumber);
                } else {
                    this.bankName = null;
                }
            },
            setBankName: function(routingNumber) {
                var self = this;

                var url = "/Banks/" + routingNumber;
                var base = window.config.services.lookup;

                self.$.http.get(url, base)
                    .then(function(lookup) {
                        
                        self.bankName = lookup[routingNumber];
                    });
            },
            validate: function() {
                // if (this.bankName) {
                //     return true;
                // } else {
                //     this.$.routingNumber.highlightError();
                //     this.lightHost.displayErrorMessage("Invalid routing number.");
                //     return false;
                // }
                return true;
            },
            clearError: function() {
            },
            clearField: function() {
            }
        })
    </script>
</dom-module>