<dom-module id="initial-offer">
    <template>
        <div class="slide-action">
            <button on-click="generateInitialOffer" class="btn btn-primary activity-action-btn">Generate Initial Offer</button>
        </div>
        <div id="offerGenerationMessge" style="display: none;"><p>{{message}}</p></div>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "initial-offer",
            properties: {
                message: {
                    type: String,
                    notify: true,
                    value: ""
                },
                messageList: {
                    type: Object,
                    notify: false,
                    value: {
                        Failed: "Unable to generate offer",
                        Completed: "Offer is ready for selection",
                        Rejected: "Application rejected"
                    }
                }
            },
            ready:function(){
            },
            generateInitialOffer: function () {
                var self = this;
                var offerEndPoint = window.config.services.offerEngine;
                var url = "/offer/" + self.applicationNumber + "/initialoffer";

                self.$.http.post(url, {}, offerEndPoint).then(function (data) {
                    console.log("application data is ", data);
                    var message = self.messageList[data.status];
                    if(data.status == "Failed"){
                        message += ". Reason: " + data.reason[0];
                    };
                    self.set('message',message);
                })
                .fail(function (e) {
                    console.log("application error is ", e);
                });
            }
        });
    </script>
</dom-module>