<dom-module id="present-final-offer">
    <template>
        <div>
            TBD
        </div>
    </template>
    <script>
        Polymer({
            is: "present-final-offer",

            ready:function(){
            },

            attached: function () {
                var self = this;
            }
        });
    </script>
</dom-module>