<dom-module id="select-initial-offer">
    <template>
        <div id="offerAlreadySelectedDiv" style="display: none;">
            <p>offer is already selected.</p>
        </div>
        <div id="offerSelectionDiv">
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>
                        <div class="disbursement-info">
                            <label>Amount</label>
                        </div>
                    </th>
                    <th>
                        <div class="disbursement-info">
                            <label>Duration</label>
                        </div>
                    </th>
                    <th>
                        <div class="disbursement-info">
                            <label>EMI</label>
                        </div>
                    </th>
                    <th>
                        <div class="disbursement-info">
                            <label>Processing fee</label>
                        </div>
                    </th>
                </tr>
                <template id="test" is="dom-repeat" items="{{offers}}" as="offer">
                    <tr>
                        <td>
                            <div>
                                <label>
                                    <input on-click="selectOffer" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p> &#8377 <span class="amount">{{offer.finalOfferAmount}}</span></p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p>{{offer.loanTenure}} Months</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p><span class="amount">N/A</span> </span></p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p><span class="amount">N/A</span> </span></p>
                            </div>
                        </td>
                    </tr>
                </template>
            </table>
            <div class="slide-action">
                <button on-click="selectInitialOffer" class="btn btn-primary activity-action-btn">Select Offer</button>
            </div>
        </div>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "select-initial-offer",
            properties: {
                offers: {
                   type:Array,
                   notify:true,
                   value:[]
                },
                selectedOfferId: {
                    type: String,
                    notify: true,
                    value: ""
                },
                applicationNumber: {
                    type: Array,
                    notify: true
                }
            },
            _isAnyOfferSelected: function() {
                var self = this;
                var offers = self.offers;
                for(var i=0; i< offers.length; i++){
                    if(offers[i].isSelected){
                        $('#offerAlreadySelectedDiv').show();
                        $('#offerSelectionDiv').hide();
                        break;
                    }
                }
            },
            _loadOffers: function(){
                var self = this;
                self.$.http.get("/offer/"+self.applicationNumber+"/initialoffer", window.config.services.offerEngine)
                .then(function (data) {
                    self.set("offers",data.offers);
                    self._isAnyOfferSelected();
                })
                .fail(function (e) {
                    console.log("application error is ", e);
                });
            },
            selectOffer: function(e){
                this.set("selectedOfferId",e.model.__data__.offer.offerId);
            },
            selectInitialOffer: function(){
                var self = this;
                var url = "/offer/"+self.applicationNumber+"/acceptinitialoffer/"+self.selectedOfferId;
                var offerEndPoint = window.config.services.offerEngine;
                if(self.selectedOfferId != ""){
                    self.$.http.put(url, {}, offerEndPoint)
                    .then(function(data){
                        $('#offerAlreadySelectedDiv').show();
                        $('#offerSelectionDiv').hide();
                    })
                    .fail(function(e){
                        console.log("application error is ", e);
                    });
                }
            },
            ready:function(){
                this._loadOffers();
            }
        });
    </script>
</dom-module>