<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-styles/typography.html">

<dom-module id="who-are-you">
  <template>
    <style include="shared-styles">
      :host {
        display: table;
        margin: 0 auto !important;
        width: 100%
      }
      span,
      input {
        @apply(--paper-font-body2);
      }

    </style>

    <div >
      <span style="padding-top: 150px"></span>


        <h4 class="center" > Sounds good. Tell us who youa are.</h4>
        <span style="padding-top: 50px; display:block;"></span>

        <div class="center">

          <div style="display: -moz-box;">
            <iron-image class="logo" sizing="contain"  src="/images/person.png"></iron-image>
            <paper-input class="input-control" label="First Name"></paper-input>
            <paper-input class="input-control" label="Middle Name"></paper-input>
            <paper-input class="input-control" label="Last Name"></paper-input>
         </div>
         <span style="padding-top: 35px; display:block;"></span>

         <div style="display: -moz-box;">
           <iron-image class="logo" sizing="contain"  src="/images/phone.png"></iron-image>

           <paper-input class="input-control" readonly value="+91"></paper-input>
           <paper-input class="input-control" label="Mobile Number"></paper-input>

         </div>
         <span style="padding-top: 35px; display:block;"></span>

         <div style="display: -moz-box;">
           <iron-image class="logo" sizing="contain"  src="/images/email.png"></iron-image>
           <paper-input class="input-control" label="Email Address"></paper-input>

        </div>

        </div>
       <span class="center">
         <paper-button style="margin-top: 20px" class="indigo" raised on-click="next"> Next </paper-button>
       </span>

        <span style="padding-top: 150px"></span>


    </div>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'who-are-you',
        next: function (event) {
          page('/what-do-you-do');
        },
        properties: {
          greeting: {
            type: String,
            value: 'Welcome!',
            notify: true
          },
          maxAllowedAmount: {
            type: Number,
            value: 500000,
            notify: true
          },
          minAllowedAmount: {
            type: Number,
            value: 50000,
            notify: true
          },
          options: {
            type: Array,
            value: [{
              title: 'TRAVEL',
              image: '/images/plan.png'
            },{
              title: 'VEHICAL PURCHASE',
              image: '/images/car.png'
            },{
              title: 'MEDICAL',
              image: '/images/medical.png'
            },{
              title: 'LOAN REFINANCING',
              image: '/images/documents.png'
            },{
              title: 'EDUCATION',
              image: '/images/education.png'
            },{
              title: 'HOME IMPORVEMENT',
              image: '/images/house.png'
            }
          ],
            notify: true
          }
        }
      });
    })();
  </script>
</dom-module>
