<dom-module id="update-cashflow">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="cashflowForm">
                    <dynamic-form form-configuration={{prefiosReportObj}} values="{{prefiosReportObj.values}}"></dynamic-form><br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "update-cashflow",
            properties: {
                prefiosReportObj : {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "MonthlyEmi": {
                                "title": "Monthly EMI",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 10
                                }
                            },
                            "MonthlyExpense": {
                                "title": "Monthly Expense",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 10
                                }
                            },
                            "MonthlyIncome": {
                                "title": "Monthly Income",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 10
                                }
                            },
                            "AvgInvestmentExpensePerMonth": {
                                "title": "Monthly Average Investment Expense",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 10
                                }
                            },
                            "AvgDailyBalance": {
                                "title": "Daily Average Balance",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 10
                                }
                            },
                            "EcsBounce": {
                                "title": "ECS Bounce",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 10
                                }
                            }
                        },
                        values: {
                            MonthlyEmi: 0,
                            MonthlyExpense: 0,
                            MonthlyIncome: 0,
                            AvgInvestmentExpensePerMonth: 0,
                            AvgDailyBalance: 0,
                            SalaryDate: "",
                            EcsBounce: 0,
                            ReferenceNumber: ""
                        }
                    }
                }
            },
            _toCapitalize: function(stringObj){
                return stringObj.replace( /\b\w/g, function (m) {
                    return m.toUpperCase();
                });
            },
            _getCashFlowData: function(){
                var self = this;
                var dataAttrEndPoint = window.config.services.dataAttributes;
                var url = "/application/" + self.applicationNumber + "/attribute/perfiosReport";
                self.$.http.get(url, dataAttrEndPoint).then(function (reportObj) {
                    var keys = Object.keys(reportObj);
                    for(var i=0; i<keys.length; i++){
                        var key = self._toCapitalize(keys[i]);
                        var value = reportObj[keys[i]];
                        if(self.prefiosReportObj.values.hasOwnProperty(key)){
                            self.prefiosReportObj.values[key] = value;
                        }
                    }
                    self.set('prefiosReportObj', $.extend({},self.prefiosReportObj));
                }).fail(function (e) {
                    console.log("loadConfig error is ", e);
                });
            },
            _verifyForm: function (event){
                event.preventDefault();
                var self = this;
                var prefiosReportObj = self.prefiosReportObj;
                var form = Polymer.dom(event).localTarget.parentElement;
                var offerEngine = window.config.services.offerEngine;
                var url = "/application/" + self.applicationNumber + "/perfios-reportData";
                if(form.validate()){
                    self.$.http.post(url,prefiosReportObj.values, offerEngine).then(function (data) {
                        console.log(data);
                        //For hide Div after Update Detail
                        $(event.target).parents().find('update-cashflow').parent().hide();
                        //To get list of LoanActivity template and then display block for all Div.
                        var listOfParentelements = $("loan-activity");
                            for (i = 0; i < listOfParentelements.length; i++) { 
                                $(listOfParentelements[i]).children().first().show();
                            }
                    }).fail(function (e) {
                        console.log("loadConfig error is ", e);
                    });
                }
            },
            ready:function(){
                this._getCashFlowData();
            },
            attached: function () {
                var self = this;
            }
        });
    </script>
</dom-module>