<script>
    (function(window) {
        /**
         * Behaviors
         * @type {{}}
         */
        window.alloy = window.alloy || {};
    })(window);
</script>
<html-import html-href="behaviors/form-validators.html"></html-import>
<html-import html-href="behaviors/form-messages.html"></html-import>
<html-import html-href="behaviors/form-behavior.html"></html-import>
<html-import html-href="behaviors/workflow-activity-behavior.html"></html-import>
<html-import html-href="behaviors/publish-lifecycle-events-behavior.html"></html-import>
<html-import html-href="behaviors/ensure-dependencies.html"></html-import>
<html-import html-href="behaviors/auto-chain.html"></html-import>
<html-import html-href="behaviors/ajax-service.html"></html-import>
<html-import html-href="behaviors/user-management-activity-form-behavior.html"></html-import>
<html-import html-href="behaviors/view-behavior.html"></html-import>
