<dom-module id="input-label">
<template>
    <label for="{{ for }}" class="control-label"><content></content></label>
    <style>
        .control-label {
            font-weight: 400;
            color: #515151;
            /*text-align: right;*/
        }

        label {
            /*width: 100%;*/
        }
    </style>
</template>
<script>
    Polymer({
        is: "input-label",

        properties: {
            for: String
        }
    });
</script>
</dom-module>