<dom-module id="application-block">
  <template>
    <style include="shared-styles">
      :host {
       }
      span,
      input {
        @apply(--paper-font-body2);
      }
      .content-table{ padding:10px;}

      .default-table th,
      .default-table td {
        padding:5px 10px;
        line-height: 1.428571429;
        vertical-align: top; font-size:12px;
      }
      .default-table thead{
        vertical-align: bottom;
        border-bottom: 2px solid #dddddd;
      }
      .default-table td:nth-child(1){color:#000;font-size:12px;}

      .default-table td.grey{color: #797979;}
      .lable{
        font-weight: 600;
      }
      .panel{
        margin-bottom:0px !important;
      }
      .panel-body{
        padding:5px !important;
      }
      .divideborder{
        border-color: #e7eaec;
        border-style: none none solid;
        border-width: 2px;
      }

    </style>

    <alloy-format id="format"></alloy-format>
    <http-request id="http"></http-request>




      <div class="panel-body">
        <section class="panel content-table clearfix">
        <div class="row">
          <div class="col-sm-4">
            <table class="default-table">
              <tbody>
              <tr>
                <td class="lable">Loan Amount</td>
                <td>{{applicationDetail.requestedAmount}}</td>
              </tr>
              <tr>
                <td class="lable">Loan Purpose</td>
                <td>{{applicationDetail.purposeOfLoan}}</td>
              </tr>

              <tr>
                <td class="lable">Application Date</td>
                <td>{{formatDate(applicationDetail.applicationDate)}}</td>
              </tr>

              <tr>
                <td class="lable">Expire</td>
                <td>{{formatDate(applicationDetail.expiryDate)}}</td>
              </tr>

              </tbody>
            </table>
          </div>
          <div class="col-sm-4">
            <table class="default-table">
              <tbody>
              <tr>
                <td class="lable">Company Name</td>
                <td class="grey">{{applicationDetail.employmentDetail.name}}</td>
              </tr>


              <tr>
                <td class="lable">Official Email ID</td>
                <td class="grey">{{applicationDetail.employmentDetail.workEmailId.email}}</td>
              </tr>

              <tr>
                <td class="lable">Empl Length</td>
                <td class="grey">{{applicationDetail.employmentDetail.lengthOfEmployment}} Months</td>
              </tr>

              </tbody>
            </table>
          </div>
          <div class="col-sm-4">
            <table class="default-table">
              <tbody>
              <tr>
                <td class="lable">Residence Type</td>
                <td class="grey">{{applicationDetail.residenceType}}</td>
              </tr>

              <tr>
                <td class="lable">Monthly Rent</td>
                <td class="grey">{{applicationDetail.selfDeclareExpense.monthlyRent}}</td>
              </tr>

              <tr>
                <td class="lable">EMI</td>
                <td class="grey">{{applicationDetail.selfDeclareExpense.emi}}</td>
              </tr>

              <tr>
                <td class="lable">Monthly Expenses</td>
                <td class="grey">{{applicationDetail.selfDeclareExpense.monthlyExpenses}}</td>
              </tr>

              <tr>
                <td class="lable">Credit Card balance</td>
                <td class="grey">{{applicationDetail.selfDeclareExpense.creditCardBalances}}</td>
              </tr>

              </tbody>
            </table>
          </div>
          <div class="col-sm-1">
            <!--<a href="#" class="btn-green">Modify</a>-->
          </div>
        </div>
      </section>
      </div>
      <div class="row divideborder">
      </div>






    <!--<div class="panel panel-default">-->
  <!--<div class="panel-heading">Application Details</div>-->
  <!--<div class="panel-body">-->

    <!--<section class="panel content-table clearfix">-->
      <!--<div class="row">-->
        <!--<div class="col-sm-4">-->
          <!--<table class="default-table">-->
            <!--<tbody>-->
              <!--<tr>-->
                <!--<td>Home Ownership</td>-->
                <!--<td>{{applicationDetail.residenceType}}</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>Stated Income</td>-->
                <!--<td>$100,000</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>Verified</td>-->
                <!--<td>$100,808</td>-->
              <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
          <!--<table class="default-table">-->
            <!--<tbody>-->
              <!--<tr>-->
                <!--<td>Empl Status</td>-->
                <!--<td>{{applicationDetail.employmentDetail.employmentStatus}}</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>Employer Address</td>-->
                <!--<td>123, Redhill road<br>-->
                  <!--KANSAS CITY<br>-->
                  <!--MO -205405</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>Empl Length</td>-->
                <!--<td>{{applicationDetail.employmentDetail.lengthOfEmployment}} Months</td>-->
              <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
          <!--<table class="default-table">-->
            <!--<tbody>-->
              <!--<tr>-->
                <!--<td>Application Date</td>-->
                <!--<td>{{formatDate(applicationDetail.applicationDate)}}</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>Expire</td>-->
                <!--<td>{{formatDate(applicationDetail.expiryDate)}}</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>Last Activity Date</td>-->
                <!--<td>Aug 16, 2016</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>Source</td>-->
                <!--<td>{{applicationDetail.source.sourceReferenceId}}</td>-->
              <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
        <!--</div>-->
      <!--</div>-->
    <!--</section>-->

  <!--</div>-->
<!--</div>-->
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'application-block',
        properties: {
          applicationNumber:{
            type:String,
            notify:true,
            observer : "_applicationNumber_changed"
          },
          onApplicationLoad :{
            type: Function,
            notify: true
          },
          applicationDetail: {
            type: Object,
            notify: true
          }
        },
        _applicationNumber_changed: function(){
          var self = this;
          //alert('changes'+self.applicationNumber);

          //Early exit if appliation number is not set
          if(! (self || self.applicationNumber))
          {
            return;
          }

          self.$.http.get(
                  //self.applicationNumber, window.config.services.applicationDetail)
                  //http://74.208.126.28:5070
                  //http://192.168.1.59:6003
                  self.applicationNumber, window.config.services.applicationDetail)
                  .then(function (data) {
                    console.log("Filter data is ", data);
                    self.set('applicationDetail', data);
                    self.applicant_id = data.applicantId;

                    console.log('applicationDetail :'+self.applicationDetail);
                    console.log('applicant_id :'+self.applicant_id);

                    // Firing a event to index page for applicant
                    self.fire('application', data);

                  }).fail(function (e) {
            console.log("application error is "+ e);
          });


        },

        formatDate: function(date) {
          if (typeof this.$.format.formatDate === "function") {
            return this.$.format.formatDate(date);
          }
          return "";
        }
      });
    })();
  </script>
</dom-module>



<!--<div class="panel panel-default">-->
  <!--<div class="panel-heading">Application Details</div>-->
  <!--<div class="panel-body">-->

    <!--<section class="panel content-table clearfix">-->
      <!--<div class="row">-->

        <!--<div class="panel panel-default">-->
          <!--<div class="panel-heading">Loan Details</div>-->
          <!--<div class="panel-body">-->
            <!--<section class="panel content-table clearfix">-->

              <!--<div class="col-lg-5">-->
                <!--<table class="default-table">-->
                  <!--<tbody>-->
                  <!--<tr>-->
                    <!--<td>Loan Amount</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="grey">{{applicationDetail.requestedAmount}}</td>-->
                  <!--</tr>-->
                  <!--</tbody>-->
                <!--</table>-->
              <!--</div>-->

              <!--<div class="col-lg-5">-->
                <!--<table class="default-table">-->
                  <!--<tbody>-->
                  <!--<tr>-->
                    <!--<td>Loan Purpose</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="grey">{{applicationDetail.purposeOfLoan}}</td>-->
                  <!--</tr>-->
                  <!--</tbody>-->
                <!--</table>-->
              <!--</div>-->

            <!--</section>-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="panel panel-default">-->
          <!--<div class="panel-heading">Employment Details</div>-->
          <!--<div class="panel-body">-->
            <!--<section class="panel content-table clearfix">-->

              <!--<div class="col-lg-3">-->
                <!--<table class="default-table">-->
                  <!--<tbody>-->
                  <!--<tr>-->
                    <!--<td>Company Name</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="grey">{{applicationDetail.employmentDetail.name}}</td>-->
                  <!--</tr>-->
                  <!--</tbody>-->
                <!--</table>-->
              <!--</div>-->


              <!--<div class="col-lg-5">-->
                <!--<table class="default-table">-->
                  <!--<tbody>-->
                  <!--<tr>-->
                    <!--<td>Official Email ID</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="grey">{{applicationDetail.employmentDetail.workEmailId.email}}</td>-->
                  <!--</tr>-->
                  <!--</tbody>-->
                <!--</table>-->
              <!--</div>-->

              <!--<div class="col-lg-3">-->
                <!--<table class="default-table">-->
                  <!--<tbody>-->
                  <!--<tr>-->
                    <!--<td>Empl Length</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="grey">{{applicationDetail.employmentDetail.lengthOfEmployment}} Months</td>-->
                  <!--</tr>-->
                  <!--</tbody>-->
                <!--</table>-->
              <!--</div>-->


            <!--</section>-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="panel panel-default">-->
          <!--<div class="panel-heading">Expenses Details</div>-->
          <!--<div class="panel-body">-->
            <!--<section class="panel content-table clearfix">-->

              <!--<div class="col-lg-3">-->
                <!--<table class="default-table">-->
                  <!--<tbody>-->
                  <!--<tr>-->
                    <!--<td>Residence Type</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="grey">{{applicationDetail.residenceType}}</td>-->
                  <!--</tr>-->
                  <!--</tbody>-->
                <!--</table>-->
              <!--</div>-->

              <!--<div class="col-lg-3">-->
                <!--<table class="default-table">-->
                  <!--<tbody>-->
                  <!--<tr>-->
                    <!--<td>Monthly Rent</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="grey">{{applicationDetail.selfDeclareExpense.monthlyRent}}</td>-->
                  <!--</tr>-->
                  <!--</tbody>-->
                <!--</table>-->
              <!--</div>-->

              <!--<div class="col-lg-3">-->
                <!--<table class="default-table">-->
                  <!--<tbody>-->
                  <!--<tr>-->
                    <!--<td>EMI</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="grey">{{applicationDetail.selfDeclareExpense.emi}}</td>-->
                  <!--</tr>-->
                  <!--</tbody>-->
                <!--</table>-->
              <!--</div>-->

              <!--<div class="col-lg-3">-->
                <!--<table class="default-table">-->
                  <!--<tbody>-->
                  <!--<tr>-->
                    <!--<td>Monthly Expenses</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="grey">{{applicationDetail.selfDeclareExpense.monthlyExpenses}}</td>-->
                  <!--</tr>-->
                  <!--</tbody>-->
                <!--</table>-->
              <!--</div>-->

              <!--<div class="col-lg-3">-->
                <!--<table class="default-table">-->
                  <!--<tbody>-->
                  <!--<tr>-->
                    <!--<td>Credit Card balance</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="grey">{{applicationDetail.selfDeclareExpense.creditCardBalances}}</td>-->
                  <!--</tr>-->
                  <!--</tbody>-->
                <!--</table>-->
              <!--</div>-->


            <!--</section>-->
          <!--</div>-->
        <!--</div>-->







      <!--</div>-->
    <!--</section>-->

  <!--</div>-->
<!--</div>-->
