<dom-module id="applicant-block">
  <template>
    <style include="shared-styles">
      :host {
       }
      span,
      input {
        @apply(--paper-font-body2);
      }
      .content-table{ padding:10px;}

      .default-table th,
      .default-table td {
        padding:5px 10px;
        line-height: 1.428571429;
        vertical-align: top; font-size:12px;
      }
      .default-table thead{
        vertical-align: bottom;
        border-bottom: 2px solid #dddddd;
      }
      .default-table td:nth-child(1){color:#000;font-size:12px;}
      .default-table td.grey{color: #797979;}

      .btn-green{background:#4c9f11; padding:5px 10px; color:#fff; font-size:12px;border-radius:4px;}
      .btn-green:hover{ color:#fff;}
      .lable{
        font-weight: 600;
      }
      .panel{
        margin-bottom:0px !important;
      }
      .panel-body{
        padding:5px !important;
      }
    </style>

    <alloy-format id="format"></alloy-format>
    <http-request id="http"></http-request>


  <div class="panel-body"> <section class="panel content-table clearfix">
      <div class="row">
        <div class="col-sm-4">
          <table class="default-table">
            <tbody>
              <tr>
                <td class="lable">First Name</td>
                <td>{{applicantDetail.firstName}}</td>
              </tr>
              <tr>
                <td class="lable">Middle Initial</td>
                <td>{{applicantDetail.middleName}}</td>
              </tr>
              <tr>
                <td class="lable">Last Name</td>
                <td>{{applicantDetail.lastName}}</td>
              </tr>
              <tr>
                <td class="lable">Date of Birth</td>
                <td>{{formatDate(applicantDetail.dateOfBirth)}}</td>
              </tr>
              <tr>
                <td class="lable">PAN Number</td>
                <td>{{applicantDetail.permanentAccountNumber}}</td>
              </tr>
              <tr>
                <td class="lable">Aadhar Number</td>
                <td>{{applicantDetail.aadhaarNumber}}</td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="col-sm-4">
          <table class="default-table">
            <tbody>
              <tr>
                <td class="lable">Address</td>
                <td class="grey">{{applicantDetail.addresses.0.addressLine1}} {{applicantDetail.addresses.0.addressLine1}} <br></td>
              </tr>


              <tr>
                <td class="lable">Pincode</td>
                <td class="grey">{{applicantDetail.addresses.0.pinCode}}</td>
              </tr>

              <tr>
                <td class="lable">City</td>
                <td class="grey">{{applicantDetail.addresses.0.city}}</td>
              </tr>

              <tr>
                <td class="lable">State</td>
                <td class="grey">{{applicantDetail.addresses.0.state}}</td>
              </tr>


            </tbody>
          </table>
        </div>
        <div class="col-sm-4">
          <table class="default-table">
            <tbody>
              <tr>
                <td class="lable">Mobile Number</td>
                <td class="grey">{{applicantDetail.phoneNumbers.0.phone}}</td>
              </tr>

              <tr>
                <td class="lable">Email</td>
                <td class="grey">{{_extractEmailAddress(applicantDetail.emailAddresses)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-1">
          <!--<a href="#" class="btn-green">Modify</a>-->
        </div>
      </div>
    </section></div>






  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'applicant-block',
        properties: {
          applicantNumber:{
            type:String,
            notify:true,
            observer : "_applicantNumber_changed"
          },
          applicantDetail: {
            type: Object,
            notify: true
          }
        },
        _extractEmailAddress: function (emailAddresses) {
          return  emailAddresses && emailAddresses.length ? emailAddresses[0].email : 'N/A';
        },
        _applicantNumber_changed: function(){
          var self = this;

          self.$.http.get(
                  //self.applicantNumber, window.config.services.applicantDetail)
                  //http://74.208.126.28:5012
                  //http://192.168.1.59:6004
                  self.applicantNumber, window.config.services.applicantDetail)
                  .then(function (data) {
                    console.log("applicantDetail data is ", data);
                    self.set('applicantDetail', data);

                  }).fail(function (e) {
            console.log("applicant error is "+ e);
          });


        },
        formatDate: function(date) {
          if (typeof this.$.format.formatDate === "function") {
            return this.$.format.formatDate(date);
          }
          return "";
        }
      });
    })();
  </script>
</dom-module>
