<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/censor-ssn.html"></html-import>
<dom-module id="loan-details">
	<style>
		.loan-summary .ibox-content {
			padding-bottom: 0;
		}
		.loan-details .dl-horizontal dt {
			text-align: left;
			margin-bottom: 5px;
			width: 160px;
		}
        .loan-details .col-lg-4:first-of-type .dl-horizontal dd {
            margin-left: 120px;
		}
        .loan-details .col-lg-4:first-of-type .dl-horizontal dt {
            width: 100px;
        }
        .fa-arrow-circle-right {
            margin-left: 10px;
        }
        .email {
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .email:hover:before {
            top: 15px;
            background: #333;
            background: rgba(0,0,0,.8);
            border-radius: 5px;
            color: #fff;
            content: attr(name);
            padding: 5px 15px;
            position: absolute;
            z-index: 98;
            width: 220px;
        }
        .no-ellipse.email:hover:before {
            display: none;
        }
	</style>
	<template>
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins loan-summary">
					<div class="ibox-title">
						<h1>
                            <strong>{{currentLoan.referenceNumber}}</strong> - <span>{{fullName(primaryBorrower.firstName, primaryBorrower.middleInitial, primaryBorrower.lastName)}}</span>
                            <span class="labels">
                                <span hidden$="{{!noTag(currentLoan.status.code)}}" class$="{{labelColor(currentLoan.status.code)}}">{{labelText(currentLoan.status.code)}}</span>
                            </span>
                        </h1>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-4">
								<dl class="dl-horizontal">
									<dt>Date of Birth</dt>
									<dd>{{formatDate(primaryBorrower.dateOfBirth)}}</dd>
									<dt>SSN</dt>
									<dd>
										<censor-ssn full-ssn="{{primaryBorrower.ssn}}"></censor-ssn>
									</dd>
									<dt>Email</dt>
									<dd class="email" name="{{primaryBorrower.email}}">{{primaryBorrower.email}}</dd>
									<dt>Phone Number</dt>
									<dd>{{formatPhone(primaryPhone.number)}}</dd>
									<dt>Address</dt>
									<dd>
										<address>
											<span>{{primaryAddress.line1}}</span><br/>
											<template is="dom-if" test="primaryBorrower.primaryAddress.line2">
												<span>{{primaryBorrower.primaryAddress.line2}}</span><br/>
											</template>
											<span>{{primaryAddress.city}}</span>, <span>{{primaryAddress.state}}</span> - <span>{{primaryAddress.zipCode}}</span>
										</address>
									</dd>
								</dl>
							</div>
							<div class="col-lg-4">
								<dl class="dl-horizontal">
									<dt>Loan Amount</dt>
									<dd><span>$</span><span>{{formatMoney(currentLoan.terms.loanAmount)}}</span></dd>
									<dt>Loan Purpose</dt>
									<dd>
										<span>{{spacify(currentLoan.purpose)}}</span>
									</dd>
									<dt>Origination Date</dt>
									<dd>{{formatDate(currentLoan.terms.originationDate)}}</dd>
									<dt>Term (months)</dt>
									<dd>{{currentLoan.terms.term}}</dd>
									<dt><span>{{rateTypeDisplay(currentLoan.terms.rateType)}}</span></dt>
									<dd><span>{{currentLoan.terms.rate}}</span><span hidden$="{{rateTypeClass(currentLoan.terms.rateType)}}">%</span></dd>
									<dt>APR</dt>
									<dd><span>{{currentLoan.terms.apr}}</span>%</dd>
								</dl>
							</div>

							<div class="col-lg-4">
								<dl class="dl-horizontal">
									<dt>Payment Amount</dt>
									<dd>$<span>{{formatMoney(currentLoan.terms.paymentAmount)}}</span></dd>
									<dt>Frequency</dt>
									<dd>Monthly</dd>
									<dt>Last Payment Received</dt>
									<dd>{{formatDate(currentLoan.lastPaymentDate)}}</dd>
									<dt>Remaining Balance</dt>
									<dd>$<span>{{formatMoney(currentLoan.remainingBalance)}}</span></dd>
                                    <dt>Payment Method</dt>
									<dd>{{currentLoan.paymentMethod}}</dd>
                                    <dt>Investor</dt>
									<dd>{{getInvestorName(currentLoan.investor.id)}}</dd>
                                    <br>
                                </dl>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

        <http-request id="http"></http-request>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
	</template>
	<script>
        Polymer({
			is : 'loan-details',
            properties: {
                currentLoan: {
                    type: Object,
                    notify: true
                },
                primaryBorrower: {
                    type: Object,
                    notify: true
                },
                pagingState: {
                    type: Object,
                    notify: true
                }
            },
            observers: [
                "setInvestors(currentLoan)",
                "setPrimaryPhone(primaryBorrower)",
                "setPrimaryAddress(primaryBorrower)"
            ],
			attached : function(){
                var self = this;
                
                self.currentLoan = false;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
			},
            init: function() {
                var self = this;
                
                return function() {
                    $(".email", self).on("mouseenter", function() {
                        var $this = $(this);
                        if (this.offsetWidth !== this.scrollWidth) {
                            $this.removeClass("no-ellipse");
                            var text = this.innerHTML;
                            $this.attr("name", text);
                        } else {
                            $this.addClass("no-ellipse");
                        }
                    });
                    
                    self.getStatuses();
                }
            },
            formatPhone: function(phone) {
                return "(" + phone.slice(0, 3) + ") " + phone.slice(3, 6) + "-" + phone.slice(-4);
            },
            formatDate: function(date) {
                return date ? this.$.format.formatDate(date) : "";
            },
            fullName: function(firstName, middleInitial, lastName) {
                return [firstName, middleInitial, lastName].join(" ");
            },
            setPrimaryPhone: function(borrower) {
                for (var i = 0; i < borrower.phones.length; i++) {
                    if (borrower.phones[i].isPrimary) {
                        this.primaryPhone = borrower.phones[i];
                    }
                }
            },
            setPrimaryAddress: function(borrower) {
                for (var i = 0; i < borrower.addresses.length; i++) {
                    if (borrower.addresses[i].isPrimary) {
                        this.primaryAddress = borrower.addresses[i];
                    }
                }
            },
            formatMoney : function(value){
                if (value == undefined) { return "" }
                if(typeof(value) != Number)
                    value = new Number(value);
                return value.formatMoney(2);
            },
            rateTypeDisplay: function(rateType) {
                if (rateType === "Percent") { return "Rate" }
                if (rateType === "Factor") { return "Factor" }
            },
            rateTypeClass: function(rateType) {
                if (rateType === "Percent") { return false }
                return true
            },
            spacify: function(str) {
                var result = "";
                if (!str) { return }
                for (var i = 0; i < str.length; i++) {
                    var letter = str[i];
                    if (letter.toUpperCase() === letter && i !== 0) {
                        result += " ";
                    }
                    result += letter;
                }
                return result;
            },
            isLate: function(pastDue) {
                return pastDue > 10;
            },
            getStatuses: function() {
                var self = this;

                self.loanStatuses = {};
                self.$.http.get("/loan/loanStatus", window.config.services.configuration, function(statuses) {
                    for (var i = 0; i < statuses.length; i++) {
                        var status = statuses[i];
                        self.loanStatuses[status.code] = {
                            labelStyle: status.labelStyle,
                            labelName: status.labelName
                        };
                    }
                });
            },
            labelText: function(code) {
                if (!code || !this.loanStatuses || !this.loanStatuses[code]) { return }
                return this.loanStatuses[code].labelName
            },
            noTag: function(code) {
                if (code === "100.01") {
                    return false;
                }
                return true;
            },
            labelColor: function(code) {
                var classList = ["pull-right", "label"];
                if (!code || !this.loanStatuses) { return }
                classList.push(this.loanStatuses[code].labelStyle)
                return classList.join(" ");
            },
            setInvestors: function() {
                var self = this;
                var config = window.config.services.configuration
                self.$.http.get('/investors/investors', config, function(investors) {
                    var temp = {};
                    investors.forEach(function(investor) {
                        temp[investor.id] = investor.name;
                    });
                    self.set("investors", temp);
                });
            },
            getInvestorName: function(investorId) {
                if (!this.investors) { return }
                return this.investors[investorId]
            }
		});
	</script>
</dom-module>