<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="ui-elements/sk-wave.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<dom-module is="request-password">
    <style>
         :host {
            position: relative;
        }
        
        #login-icon {
            margin-top: 0;
        }
    </style>
    <template>

        <div class="ce-loan-apply-container">
            <div class="col-sm-12">
                <div class="ce-loan-apply-slides">
                    <div class="ce-loan-apply-slide">
                        <!--<div class="slide-controler">-->
                            <!--<a href="" class="arrow arrow-left"></a>-->
                            <!--<a href="" class="arrow arrow-right"></a>-->
                        <!--</div>-->
                        <h2>Having trouble signing in?</h2>
                        <!--<p class="short-decription">A One Time Password will be sent to your mobile. Please enter your mobile number.</p>-->
                        <p class="short-decription">Reset password link will be sent to your email. Please enter your username.</p>
                        <form id="request-form">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <div id="error-message" class="alert alert-danger" hidden$="{{!hasError}}"></div>
                                    <div id="success-message" class="alert alert-success" hidden$="{{!hasSuccess}}"></div>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="slide-box slide-loan-amount">
                            <div class="slide-box-icon"><span></span></div>
                            <div class="form-group input-label-anim">
                                <label for="v" class="control-label">USERNAME</label>
                                <input id="username" type="text" name="username" placeholder="Username" maxlength="45" value="{{username::input}}" class="form-control" autocomplete="off">
                            </div>
                            </div>
                            <spinkit-wave hidden$="{{!spin}}"></spinkit-wave>
                            <div class="slide-action"><a hidden$="{{spin}}" on-click="sendNewPassEmail" class="btn btn-default">Send Reset Link</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <event-hub id="hub"></event-hub>
        <identity-service id="identity"></identity-service>
    </template>
    <script>
        Polymer({
            is: "request-password",
            ready: function() {
                var self = this;

                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventlistener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;

                //this.username = "";
                this.spin = false;
                this.hasError = false;
                this.hasSuccess = false;

                return function() {
//                    $(self.$.username).autoNumeric({
//                        aSep: ''
//                    });
                    $(self.$.username).on("keydown", function(e) {
                        if (e.which === 13) {
                            self.sendNewPassEmail();
                        }
                    });

                    function validate_form() {
                        $("#request-form").validate({

                            rules: {
                                username: {
                                    required: true
                                }
                            },
                            messages: {}
                        });
                    }
                    setTimeout(validate_form, 100);
                }
            },
            sendNewPassEmail: function() {
                if (!$('#request-form').valid()) {
                    return;
                }

                // Send username and password to some retrieve password API
                var self = this;

                self.username = $('#username').val()
                if (!self.username) {
                    return self.setErrorMessage("Enter username")
                }

                self.spin = true
                self.clearMessages();

                self.$.identity.requestToken(self.username)
                    .done(function() {
                        self.spin = false;
                        self.username = "";
                        self.setSuccessMessage("E-mail to reset your password has been sent");
                    })
                    .fail(function(err) {
                        self.spin = false;
                        self.setErrorMessage(err.statusText);
                    })

            },
            resetLogin: function() {
                window.location.hash = "#/securityLogin";
            },
            setErrorMessage: function(message) {
                this.hasError = true;
                this.$["error-message"].innerHTML = message;
            },
            setSuccessMessage: function(message) {
                this.hasSuccess = true;
                this.$["success-message"].innerHTML = message;
            },
            clearMessages: function() {
                this.hasError = false;
                this.hasSuccess = false;
                this.$["error-message"].innerHTML = "";
                this.$["success-message"].innerHTML = "";
            }
        })
    </script>
</dom-module>