<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="ui-elements/sk-wave.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/workflow-service.html"></html-import>

<dom-module is="request-password">
    <style>
         :host {
            position: relative;
        }
        
        #login-icon {
            margin-top: 0;
        }
    </style>
    <template>
        <workflow-service id="workflow"></workflow-service>


        <div class="ce-loan-apply-container">
            <div class="col-sm-12">
                <div class="ce-loan-apply-slides">
                    <div class="ce-loan-apply-slide">
                        <!--<div class="slide-controler">-->
                            <!--<a href="" class="arrow arrow-left"></a>-->
                            <!--<a href="" class="arrow arrow-right"></a>-->
                        <!--</div>-->
                        <h2>Having trouble signing in?</h2>
                        <p class="short-decription">A One Time Password will be sent to your mobile. Please enter your mobile number.</p>
                        <form id="request-form">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <div id="error-message" class="alert alert-danger" hidden$="{{!hasError}}"></div>
                                    <div id="success-message" class="alert alert-success" hidden$="{{!hasSuccess}}"></div>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="slide-box slide-loan-amount">
                            <div class="slide-box-icon"><span></span></div>
                            <div class="form-group input-label-anim mobile-box">
                                <label for="v" class="control-label">Mobile Number</label>
                                <!--<input id="username" type="text" name="mobile" placeholder="Mobile Number" data-m-dec="0" data-v-max="9999999999" data-d-group="0" data-a-sign="+91 " value="{{username::input}}" class="form-control" autocomplete="off">-->
                                <input type="text" name="username" id="username" placeholder="Mobile Number"  onkeypress="return event.charCode >= 48 && event.charCode <= 57" 	value="+91 "  class="form-control" maxlength="14" autocomplete="off">

                            </div>

                            <div class="form-group input-label-anim otp-box" style="display: none;">
                                <label for="v" class="control-label">OTP</label>
                                <input name="otp" id="otp" type="password" placeholder="OTP" maxlength="6" class="form-control" autocomplete="off">
                                <p class="help-block">Didn’t receive the OTP?  <a class="ce-more-info-link" href="#">Resend<i class="fa fa-info" data-toggle="tooltip" data-placement="bottom" title="Resend OTP is allowed 3 times"></i></a></p>
                            </div>
                            </div>




                            <spinkit-wave hidden$="{{!spin}}"></spinkit-wave>
                            <div class="slide-action mobile-box"><a hidden$="{{spin}}" on-click="sendNewPassEmail" class="btn btn-default">Send OTP</a></div>
                            <div class="slide-action otp-box" style="display: none;"><a hidden$="{{spin}}" on-click="sendNewPassEmail" class="btn btn-default">Send OTP</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <event-hub id="hub"></event-hub>
        <identity-service id="identity"></identity-service>
    </template>
    <script>
        Polymer({
            is: "request-password",
            ready: function() {
                var self = this;

                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventlistener("WebComponentsReady", self.init());
                }

                function setup(){
                    $("#username").keydown(function(e) {
                        console.log('keydown');
                        var field=this;
                        setTimeout(function () {
                            if(field.value.indexOf('+91 ') !== 0) {
                                $(field).val('+91 ');

                            }
                        }, 1);
                    });


                }

                setTimeout(setup, 200);


            },
            init: function() {
                var self = this;

                //this.username = "";
                this.spin = false;
                this.hasError = false;
                this.hasSuccess = false;

                return function() {
//                    $(self.$.username).autoNumeric({
//                        aSep: ''
//                    });
                    $(self.$.username).on("keydown", function(e) {
                        if (e.which === 13) {
                            self.sendNewPassEmail();
                        }
                    });

                    function validate_form() {
                        $("#request-form").validate({

                            rules: {
                                mobile: {
                                    required: true
                                },
                                otp: {
                                    required: true,
                                    otp_digit_count: true
                                }
                            },
                            messages: {}
                        });

                        jQuery.validator.addMethod("otp_digit_count", function(value, element) {
                            var otp = $('#otp').val();
                            //   console.log('otp :'+otp);

                            if (otp.length == 6) {
                                return true;
                            } else {
                                return false;
                            };
                        }, "Please enter valid 6 digit of otp");

                    }
                    setTimeout(validate_form, 100);
                }
            },
            sendNewPassEmail: function() {
                if (!$('#request-form').valid()) {
                    return;
                }

                // Send username and password to some retrieve password API
                var self = this;

                self.username = $('#username').val().replace('+91 ', '');
                if (!self.username) {
                    return self.setErrorMessage("Enter username")
                }

                self.spin = true
                self.clearMessages();

                self.$.workflow.execute('lead', 'login', 'set-number', {
                            'mobile': self.username
                        })
                        .then(function(value) {
                            self.$.workflow.execute('lead', 'login', 'send-otp', {}).then(function(value) {
                                self.spin = false;
                                $('.mobile-box').hide();
                                $('.otp-box').show();
                            })


                            //window.location = '/#/otp';
                        });

//                self.$.identity.requestToken(self.username)
//                    .done(function() {
//                        self.spin = false;
//                        self.username = "";
//                        self.setSuccessMessage("E-mail to reset your password has been sent");
//                    })
//                    .fail(function(err) {
//                        self.spin = false;
//                        self.setErrorMessage(err.statusText);
//                    })

            },
            validateOTP: function() {
                if (!$('#request-form').valid()) {
                    return;
                }

                // Send username and password to some retrieve password API
                var self = this;

                self.otp = $('#otp').val();
                if (!self.otp) {
                    return self.setErrorMessage("Enter OTP")
                }

                self.spin = true;
                self.clearMessages();

                self.$.workflow.execute('lead', 'login', 'set-number', {
                            'mobile': self.username
                        })
                        .then(function(value) {
                            self.$.workflow.execute('lead', 'login', 'send-otp', {}).then(function(value) {
                                self.spin = false;
                                $('.mobile-box').hide();
                                $('.otp-box').show();
                            })

                        });

                self.$.workflow.execute('lead', 'login', 'verify-otp', {
                            otp: self.otp
                        })
                        .then(function(value) {
                            console.log(value);
                            if (value.person.mobile.verified) {
                                return;
                            }
                            console.log('not coming here');
                            $('#otp-is-invalid').show();

                        });


            },
            resetLogin: function() {
                window.location.hash = "#/securityLogin";
            },
            setErrorMessage: function(message) {
                this.hasError = true;
                this.$["error-message"].innerHTML = message;
            },
            setSuccessMessage: function(message) {
                this.hasSuccess = true;
                this.$["success-message"].innerHTML = message;
            },
            clearMessages: function() {
                this.hasError = false;
                this.hasSuccess = false;
                this.$["error-message"].innerHTML = "";
                this.$["success-message"].innerHTML = "";
            }
        })
    </script>
</dom-module>