<dom-module id="form-error">
    <template>
        <div class="alert alert-danger"
             hidden$="{{ shouldHideErrors(displayMessage) }}">
            {{ displayMessage }}
        </div>
        <style>
            .alert.alert-danger {
                margin-bottom: 0;
                margin-top: 3px;
                padding: 3px;
            }
        </style>
    </template>
    <script>
        /**
         * Use this component just as you would a div.form-group in a
         * bootstrap form. Contains functionality to identify inputs and
         * determine if error styling should be applied.
         */
        Polymer({
            is: "form-error",

            behaviors: [eventHub],

            properties: {
                messages: Object,
                errors: Object,
                errorKeys: String,
                hasErrors: {
                    value: false,
                    type: Boolean
                },
                displayMessage: {
                    value: "",
                    type: String
                }
            },

            observers: ["onChange(errors, messages, errorKeys)"],

            onChange: function (errors, messages, errorKeys) {
                this.getErrorMessage(errors, messages);
            },

            update: function (formErrors, formMessages) {
                this.getErrorMessage(formErrors, formMessages);
            },

            getErrorMessage: function (formErrors, formMessages) {
                var messages = [];
                if (!this.errorKeys) { return }
                var errorKeys = this.errorKeys.replace(/ /g, "").split(",");

                errorKeys.forEach(function (key) {
                    var errorType = [].concat(formErrors[key])[0];
                    var message = formMessages[errorType];

                    if (message) {
                        messages.push(message);
                    }
                });

                this.set("displayMessage", messages[0]);

                this.hasErrors = this.displayMessage && this.displayMessage.length;

                return this.displayMessage;
            },

            /**
             * Predicate for hiding the error alert element
             * @param errorMessage
             * @returns {boolean}
             */
            shouldHideErrors: function (displayMessage) {
                return !displayMessage || !displayMessage.length;
            }
        });
    </script>
</dom-module>