<dom-module id="otp-service">
  <template>
    <http-request id="http"></http-request>
  </template>

  <script>
    (function() {
      'use strict';
      Polymer({
        is: 'otp-service',
        generateOTP: function (mobileNumber) {
          var self = this;
          return self.$.http.post( '/sendOTP',
             {
                "Recipient" : {
                  "Phone":  mobileNumber
                }
             },
             window.config.services.notification);

        },
        verifyOTP: function (otpRefId, otp) {
          var self = this;
          return self.$.http.get(
             '/VerifyOTP/' + otpRefId + '/' + otp,
             window.config.services.notification);
        }
      });
    })();
  </script>
</dom-module>
