<dom-module id="tracking-service">
    <template>
        <http-request id="http"></http-request>
    </template>

    <script>
        (function () {
            'use strict';
            Polymer({
                is: 'tracking-service',
                track: function (trackingCode, path) {
                    var self = this;
                    return this.$.http.post('/', {
                        'trackingCode': trackingCode,
                        'path': path
                    }, window.config.services.flowAnalytics);
                }
            });
        })();
    </script>
</dom-module>
