<dom-module id="utility-service">
    <script>
            Polymer({
                is: "utility-service",
                // behaviors: [eventHub, publishLifecycleEventsBehavior],
                getConfigServicesObj: function (phone) {
                    if(window.config_portal){
                      return window[window.config_portal].services;
                    }else {
                      return  window.config.services;
                    }
                }
            });
    </script>
</dom-module>
