<dom-module id="activity-block">
  <template>
    <style include="shared-styles">
      :host {
       }
      span,
      input {
        @apply(--paper-font-body2);
      }


      /*actvity block*/
      .content-table{ padding:30px;}
      .content-table select{ margin-right:10px;}
      .panelsearch .form-control{width:auto;border-radius:0;float:left}
      .panelsearch .btn{border-radius:0;float:right;height: 34px;padding: 6px 10px;}

      /*activity items*/
      .activity-item{margin:15px 0; display:block;}
      .activity-item .date{ color:#000;}
      .activity-item .dayago{ color:#4c9f11;}

    </style>


    <div class="panel content-table clearfix">
      <select class="input-sm">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option selected>10</option>
      </select>
      documents per page
      <form class="pull-right panelsearch">
        <input class="form-control" placeholder="Search for date, title, description" type="text">
        <button class="btn btn-sm" type="button"><i class="fa fa-search"></i></button>
      </form>
      <div class="clearfix"></div>
      <!--active items-->
      <div class="activity-item">
        <div class="title"><strong>Application Status Changed</strong></div>
        <p>Application status changed from to 200.01</p>
        <span class="date">07/09/2016</span> <span class="dayago">5 days ago</span> </div>
      <hr>
      <div class="activity-item">
        <div class="title"><strong>Application Status Changed</strong></div>
        <p>Application status changed from to 200.01</p>
        <span class="date">07/09/2016</span> <span class="dayago">5 days ago</span> </div>
      <hr>
      <div class="activity-item">
        <div class="title"><strong>Application Status Changed</strong></div>
        <p>Application status changed from to 200.01</p>
        <span class="date">07/09/2016</span> <span class="dayago">5 days ago</span> </div>
      <hr>
      <!--active items end-->
      <div class="clearfix"></div>
      <ul class="pagination pagination-sm pull-right">
        <li><a href="#">« Previous</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">Next »</a></li>
      </ul>
    </div>



  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'activity-block'
      });
    })();
  </script>
</dom-module>
