<dom-module id="app-flow">
    <template>
        <div id="host" class="fade in"></div>

        <url-parser id="routeParams"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"
                      alloy-configuration="{{coreConfig}}">
        </alloy-config>
        <alloy-tenant id="tenant"
                      alloy-tenant="{{tenantConfig}}"></alloy-tenant>
    </template>
    <script>
        Polymer({
            is: "app-flow",
            behaviors: [eventHub],
            properties: {
                workflowStepType: String,
                isWorkflowStep: Boolean,
                workflowStepId: String
            },

            /**
             * Initializes workflow and subscribes to activity ready and
             * complete events.
             */
            attached: function () {
                var self = this;

                self.initializeWorkflow();

                self.subscribe("workflow.initialize", function () {
                    self.initializeWorkflow();
                });

                window.addEventListener("beforeunload", function (event) {
                    self.pauseWorkflow();
                });
            },

            getWorkflowId: function () {
                return this.isWorkflowStep ?
                    this.workflowStepId :
                    this.getParams().id;
            },

            /**
             * Gets the current workflow and loads the current step.
             * Is called when appFlow component is attached and when
             * workflow.initialize event is published
             */
            initializeWorkflow: function () {
                var self = this;
                var id = this.getWorkflowId();

                self.getWorkflowConfig().then(function () {
                        return self.getCurrentWorkflow(id)
                    })
                    .then(function () {
                        if (self.workflowInstance.status.toLowerCase() !== "completed") {
                            var currentStep = self.getCurrentStep();
                            self.loadActivity(currentStep);
                        }
                    });
            },

            /**
             * Gets workflow instance based on workflow type and optional session ID
             * @param  {string} workflowId Workflow ID from url
             * @return {Promise} Gets workflow instance
             */
            getCurrentWorkflow: function (workflowId) {
                var self = this;

                if (workflowId) {
                    return self.setExistingWorkflow(workflowId);
                }
                return self.createWorkflow();
            },

            /**
             * Loads step into the DOM host
             * @param {Object} step Contains name, title, url, and parameters
             */
            loadActivity: function (step) {
                var self = this;
                var host = Polymer.dom(self.$.host);
                var base = self.coreConfig.base;
                var workflowBase = self.workflowConfig.base;
                var tenant = self.tenantConfig.name;
                var href = [
                    base,
                    tenant,
                    workflowBase ? "/" : "",
                    workflowBase,
                    "/",
                    step.url].join("");

                $(host).toggleClass("in");

                self.clearElementChildren(host);
                self.importHref(href, function (e) {
                    var id = Polymer
                        .dom(e.target.import.body)
                        .querySelector("dom-module")
                        .getAttribute("id");

                    var step = document.createElement(id);
                    self.initSubscriptions(step);
                    // append created step
                    host.appendChild(step);
                    host.flush();
                    $(host).toggleClass("in");
                }, function(e) {
                    debugger;
                });

                $(host).toggleClass("in");
            },

            toggleElementVisibility: function (host) {
                $(host).toggleClass("in");
            },

            initSubscriptions: function (origin) {
                var self = this;
                self.subscribe("activity.ready", function (payload) {
                    self.onActivityReady(payload);
                }, origin);
                self.subscribe("activity.complete", function (payload) {
                    self.onActivityComplete(payload);
                }, origin);
                self.subscribe("activity.pause", function (payload) {
                    self.pauseWorkflow(payload.output);
                }, origin);
            },

            pauseWorkflow: function (output) {
                var self = this;

                output = {
                    output: output || self.getCurrentStep().state
                };

                if (output == null) { return }

                var workflowType = self.workflowStepType || self.getParams().type;
                var url = ["", workflowType, self.workflowInstance.id, "pause"].join("/");

                return self.$.http.put(url, output, window.config.services.appFlow)
                    .then(function (res) {
                        self.workflowInstance = res
                    });
            },

            /**
             * Activity ready handler
             * @param {Object} payload Eventhub event payload contains event,
             * detail, and origin
             */
            onActivityReady: function (payload) {
                var self = this;
                var step = payload.origin;
                if (typeof step.init === "function") {
                    var currentStep = this.getCurrentStep();
                    var currentState = {};

                    if (
                        this.workflowInstance.currentStepCache &&
                        this.workflowInstance.currentStepCache.output
                    )
                    {
                        currentState = this.workflowInstance.currentStepCache.output;
                    }

                    var config = {
                        output: this.getPreviousOutput(),
                        state: currentState,
                        params: currentStep.params
                    };
                    step.init(config);
                    self.publish("workflow.initStep", {
                        output: self.output,
                        workflowInstance: self.workflowInstance
                    });
                } else {
                    console.warn("Expected step.init to be a function");
                }
            },

            /**
             * Activity complete handler
             * @param {Object} payload Eventhub event payload contains event,
             * detail, and origin
             */
            onActivityComplete: function (payload) {
                var self = this;
                if (!payload.output) {
                    console.warn("Expected payload to have property: output");
                }
                self.output = payload.output || null;
                self.updateWorkflow(self.output, payload.terminated)
                    .then(function (res) {
                        if (self.workflowInstance.status.toLowerCase() === "completed") {
                            var onCompleteStep = self.workflowInstance.definition.onComplete;
                            self.loadActivity(onCompleteStep);
                            self.publish("workflow.complete", {
                                output: self.output
                            });
                            return;
                        }
                        self.publish("workflow.update", {
                            output: self.output,
                            workflowInstance: self.workflowInstance
                        });
                        var currentStep = self.getCurrentStep();
                        self.loadActivity(currentStep);
                    });
                ;
            },

            /**
             * Updates workflow to move to the next step
             * @param {Object} output Output of previous activity
             * @param {boolean} terminated Flag set by previous activity
             */
            updateWorkflow: function (output, terminated) {
                var self = this;
                var url = ["", self.getParams().type, self.workflowInstance.id].join("/");

                var request = {
                    output: output || {}
                };
                terminated && (request.terminated = terminated);

                return self.$.http.post(url, request, window.config.services.appFlow)
                    .then(function (res) {
                        self.workflowInstance = res
                    });
            },

            /**
             * Set workflow instance using workflow type and workflow ID
             * @return {Promise} Gets workflow instance
             */
            setExistingWorkflow: function (workflowId) {
                var self = this;
                var id = self.getWorkflowId();

                var url = ["", self.getParams().type, id].join("/");

                return self.$.http.get(url, window.config.services.appFlow)
                    .then(function (res) {
                        self.workflowInstance = res;
                    });
            },

            /**
             * Creates a new workflow using workflow type
             * @return {Promise} Gets workflow instance
             */
            createWorkflow: function () {
                var self = this;
                var baseUrl = window.config.services.appFlow;

                return self.$.http.post(
                    "/" + self.getParams().type,
                    {},
                    baseUrl,
                    function (res) {
                        self.workflowInstance = res;
                        if (!self.isWorkflowStep) {
                            var sessionUrl = [
                                document.location.origin,
                                document.location.hash.split("/").slice(0, 2).join("/"),
                                "/type:", self.getParams().type,
                                "/id:", self.workflowInstance.id
                            ].join("");

                            history.pushState({}, "", sessionUrl);
                        }

                        self.workflowId = self.workflowInstance.id;

                        self.publish("workflow.created", {
                            output: {
                                id: self.workflowId,
                                type: self.workflowStepType
                            }
                        });
                    },
                    function () {

                    });
            },

            /**
             * Retrieves workflow step from reference
             * @param {string} id Step reference
             * @return {Object} Step object
             */
            getStepById: function (id) {
                var steps = this.workflowInstance.definition.steps;

                for (var i = 0; i < steps.length; i++) {
                    var step = steps[i];
                    if (id === step.id) {
                        return step;
                    }
                }
            },

            /**
             * Clears children from element
             * @param {HTMLElement} element Host element
             */
            clearElementChildren: function (element) {
                var childNodes = element.childNodes;

                for (var i = 0; i < childNodes.length; i++) {
                    element.removeChild(childNodes[i]);
                }
            },

            /**
             * Gets previous activity output
             * @return {Object|null} Output of the previously executed step
             */
            getPreviousOutput: function () {
                if (this.workflowInstance) {
                    var executedSteps = this.workflowInstance.executedSteps;
                    if (executedSteps && executedSteps.length) {
                        var previouslyExecutedStepIndex = executedSteps.length - 1;
                        return executedSteps[previouslyExecutedStepIndex].output;
                    }
                }
                if (this.output) {
                    return this.output;
                }
                return null;
            },

            /**
             * Gets the current step
             * @return {Object} Current Step
             */
            getCurrentStep: function () {
                return this.getStepById(this.workflowInstance.currentStep);
            },

            getParams: function () {
                var params = this.$.routeParams.getParams();
                if (this.workflowStepType) {
                    params.type = this.workflowStepType;
                }
                if (this.workflowStepId) {
                    params.id = this.workflowStepId;
                }
                return params
            },

            getWorkflowConfig: function () {
                var self = this;
                return self.$.http.get("/appflow", window.config.services.configuration, function (res) {
                    self.workflowConfig = res;
                });
            }

        });
    </script>
</dom-module>
